.leader-chart {
	padding: $padding-base-vertical $padding-base-horizontal;
	border: $border-large-width solid $border-color;
	border-top: 0;
	.employ,
	.car,
	.call {
		border-radius: $radius-small;
		background-color: $chart-bg;
		height: $leader-chart-height;
	}
	.employ {
		width:50%;
		border: $border-small-width solid $border-color;
		box-sizing: border-box;
		margin-right: $margin-large-horizontal;
	}
	.car {
		position: relative;
		flex: 2 1;
		margin-right: $margin-base-horizontal;
		font-size: 12px;
		color: $text-default-color;
		line-height: $height-default;
		.flex {
			  justify-content: space-around;
		}
		.graph {
			position: absolute;
			top: 30px;
			left: 0;
			right: 0;
			bottom: 0;
		}
		.legend-dot {
			margin-right: 10px;
		}
		.stop-legend {
			background-color: #ff7c3c;
		}
		.empty-legend {
			background-color: #e6c707;
		}
		.heavy-legend {
			background-color: #97c255;
		}
		.task-legend {
			background-color: #649626;
		}
	}
	.call {
		flex: 2 1;
	}
	.employ-chart {
		position: relative;
		width: 410px;
		border-right: 2px solid #fff;
		.graph {
			width: 350px;
		}
		.dot-busy {
			background-color: #ff7c3c;
		}
		.dot-reset {
			background-color: #e6c707;
		}
		.dot-respond {
			background-color: #97c255;
		}
		.dot-vain {
			background-color: #649626;
		}
	}
	.employ-legend {
		.dots {
			display: flex;
			flex-direction: column;
			height: 196px;
			justify-content: center;
		}
		li {
			position: relative;
			line-height: 40px;
			&.active:before {
				content: '';
				position: absolute;
				right: 0;
				top: 50%;
				margin-top: -6px;
				border-right:6px solid #fff;
				border-top:6px solid transparent;
				border-bottom: 6px solid transparent;
			}

			&.active:after {
				content: '';
				position: absolute;
				right: 0;
				top: 50%;
				margin-top: -6px;
				margin-right: -2px;
				border-right:6px solid $chart-bg;
				border-top:6px solid transparent;
				border-bottom: 6px solid transparent;
				z-index: 10;
			}
		}

		a {
			font-size: 12px;
			text-decoration: none;
			color: $text-default-color;
		}
		.legend-dot {
			margin-right: $margin-base-horizontal;
		}
		flex: 2 1;
	}
	.employ-info {
		flex: 2 1;
		padding: $padding-base-vertical 0;
		overflow: auto;
  		overflow-x: hidden;
  		@include scroll-bar();
		ul {
			flex-wrap: wrap;
			justify-content: center;
		}
		.item {
			background-color: #ccc;
			border-radius: $radius-base;
			color: #fff;
			font-size: 12px;
			@extend %font-ms;
			width: 100px;
			box-sizing: border-box;
			padding: 6px $padding-base-horizontal;
			margin: 5px;
		}
		.user-icon,
		.timer-icon {
			@extend %icon-font;
			margin-right: $margin-small-horizontal;
			&:before {
				font-size: 20px;
			}
		}
		.user-icon {
			@include icon-content('\e627');
		}
		.timer-icon {
			@include icon-content('\e617');
		}
	}
}

.leader-orders {
	padding-top: $leader-below-padding-top;
	border-right: $border-large-width solid $border-color;
	padding: $leader-below-padding-top $padding-base-horizontal $padding-base-vertical ($padding-base-horizontal + $border-large-width);
	.nav-bar {
		padding: 0 50px;
	}
	.tab {
		position:relative;
		text-decoration: none;
		display: block;
		height: $leader-tab-height;
		line-height: $leader-tab-height;
		background-color: $btn-default-bg;
		margin-right: $leader-tab-height;
		i {
			@include icon-radius() {
				color: $btn-default-bg;
				background-color: $btn-default-color;
			}
		}
		.prepared-icon {
			@include icon-content('\e61b');
		}
		.received-icon {
			@include icon-content('\e61c');
		}
		.started-icon {
			@include icon-content('\e61d');
		}
		.done-icon {
			@include icon-content('\e61a');
		}
		.exception-icon {
			@include icon-content('\e619');
		}
		b {
			@include box-info($leader-num-height, $leader-num-height);
			background-color: #fff;
			border-radius: $radius-small;
			color: $color-primary;
			margin-left: $margin-small-horizontal;
			font-weight: bold;
		}
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 100%;
			border-left: $leader-tab-height solid $btn-default-bg;
			border-top: $leader-tab-height solid transparent;
			z-index: $zindex-base;
		}
		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 100%;
			border-right: $leader-tab-height solid $btn-default-bg;
			border-top: $leader-tab-height solid transparent;
		}
		&.active {
			background-color: #fff;
			&:before {
				border-right-color: #fff;
			}
			&:after {
				border-left-color: #fff;
			}
			b {
				color: #fff;
				background-color: $color-primary;
			}
			i {
				color: #fff;
				background-color: $color-primary;
			}
		}
	}
	.input-wrap {
		position: relative;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 100%;
			border-right: $input-base-height solid #fff;
			border-bottom: $input-base-height solid transparent;
		}
	}
	.search-input {
		outline: none;
		@include input-text();
	}
	.search-btn {
		position: relative;
		outline: none;
		width: $width-base;
		height:	$height-base;
		vertical-align: baseline;
		border-radius: 0;
		@include icon-bg($font-large-size, $btn-default-color);
		i {
			@include icon-content('\e61f');
		}
		&:before {
			content: '';
			position: absolute;
			top: -1px;
			right: 100%;
			border-right: $input-base-height solid $btn-default-bg;
			border-bottom: $input-base-height solid transparent;
		}
		&:after {
			content: '';
			position: absolute;
			top: -1px;
			left: 100%;
			border-left: $input-base-height solid $btn-default-bg;
			border-top: $input-base-height solid transparent;
		}
		&:hover:before {
			border-right-color: $btn-hover-bg;
		}
		&:hover:after {
			border-left-color: $btn-hover-bg;
		}
	}
	.search-wrap {
		margin-top: ($leader-tab-height - $input-base-height) / 2;
	}

	.table-wrapper {
		flex: 2 1;
	}

	.map-wrapper {
		position: relative;
		width: 670px;
		height: 340px;
		background: $chart-bg;
		margin-left: $margin-base-horizontal;
	}

	.map-close-btn {
		position: absolute;
		top: -12px;
		right: -12px;
		width: 24px;
		height: 24px;
		line-height: 24px;
		text-align: center;
		border-radius: 50%;
		text-decoration: none;
		z-index: 300;
		font-size: 16px;
		font-weight: bold;
		@extend %font-ms;
	}

	.leader-map {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.col1 {
		width: 5%;
	}
	.col2 {
		width: 8.8%;
	}
	.col3 {
		width: 11.2%;
	}
	.col4 {
		width: 8.2%;
	}
	.col5 {
		width: 12%;
	}
	.col6 {
		width: 8.8%;
	}
	.col7 {
		width: 16%;
	}
	.col8 {
		width: 16%;
	}
	.col9 {
		width: 7%;
	}
	.col10 {
		width: 7%;
	}

}