.seat-above {
	padding-right: $padding-base-horizontal;
	border-right: $border-large-width solid $border-color;
}

//# top left part
.seat-top-left{
	$seat-chart-width:			300px;
	$seat-chart-height:			($label-base-height + $margin-base-vertical) * 5 - $margin-base-vertical;
	$input-large-width:			$layout-left-width - $padding-base-horizontal * 2 - $label-base-height - $input-padding-horizontal * 2  - 6px;
	$input-long-width:			$input-large-width - $seat-chart-width - $padding-base-horizontal;

	//6px = 2 input border + inline = >\n = 4px 

	position: relative;
	margin-right: $border-base-width;
	border: $border-large-width solid $border-color;
	border-left:0;
	width: $layout-left-width - $border-large-width;

	padding: $padding-base-vertical 0 $padding-large-vertical ($padding-base-horizontal + $border-large-width);
	
	.chart {
		position: absolute;
		top: $padding-base-vertical;
		left: $padding-base-horizontal + $border-large-width;
		@include border-box($seat-chart-width, $seat-chart-height);
		border:$border-small-width solid $border-color;
		border-radius: $radius-base;
		background-color: $chart-bg;
		z-index: $zindex-base;
		.info {
			padding: $padding-base-vertical $padding-base-horizontal;
		}
		.graph {
			width: 100%;
			height: $seat-chart-height - ($padding-base-vertical + $height-small + $border-small-width) * 2;
		}
		.justify {
			@include height-hidden($height-small);
		}
		.info {
			@extend %font-ms;
			color: $color-text;
			font-size: 12px;
		}
		.info-item{
			display: inline-block;
			@include icon-bg($icon-small-size, $color-text);
		}
		.custom-type {
			@include icon-content('\e615');
		}
		.timer {
			@include icon-content('\e617');
		}
		.serial {
			@include icon-content('\e616');
		}
		.legend-dot {
			margin-right: $margin-small-horizontal;
		}
		.dot-order-count {
			background-color: $chart-order-count-bg;
		}
		.dot-fuck-count {
			background-color: $chart-fuck-count-bg;
		}
	}
	.cartype-selects {
		display: inline-block;
		width: $seat-chart-width - $label-base-width - 8px;
	}
	.seat-field1 {
		padding-left: $seat-chart-width + $padding-base-horizontal;
	}
	.input-normal {
		width: $input-base-width;
	}
	.long-width {
		width: $input-long-width;
	}
	.large-width {
		width: $input-large-width;
	}
	.clickable {
		background-color: $color-primary;
	}
}

.seat-top-form{
	li {
		margin-bottom: $margin-base-vertical;
	}
}

.seat-top-form {

	.calling-label i {
		@include icon-content('\e605');
	}
	.actual-label i {
		@include icon-content('\e614');
	}
	.username-label {
		background-color: $color-primary;
		i {
			@include icon-content('\e618');
		}
	}
	
	.start-label {
		background-color: $color-second;
		i {
			@include icon-content('\e622');
		}
	}

	.around-label i {
		@include icon-content('\e626');
	}

	.destination-label {
		margin-left: $padding-base-horizontal - 8px;
		i {
			@include icon-content('\e623');
		}
	}

	.prepare-label i {
		@include icon-content('\e629');
	}

	.cartype-label i {
		@include icon-content('\e61c');
	}

	.remark-label i {
		@include icon-content('\e624');
	}

	.count-label i {
		@include icon-content('\e62b');
	}

	.btn-normal{
		width: $btn-large-width;
		height: $label-base-height;
		line-height: $label-base-height;
	}

	.car-select {
		width: 92px;
	}

	.price-select {
		width: 92px;
	}

	.count-select {
		width: 63px;
	}

	.timer-select {
		width: 44px;
	}
	.input-calendar {
		width: 150px;
	}

	.auto-call-label,
	.auto-checked-label {
		font-size: $input-font-size;
		color:	$input-color;
	}
}

//#####top right part
.seat-top-right {
	flex: 2 1;
	border-top: $border-large-width solid $border-color;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	.nav {
		li {
			height: $height-base;
			line-height: $height-base;
			margin-left: $margin-large-horizontal;
		}
		.zoom {
			@include icon-content('\e61f');
		}
	}
	.map {
		height: ($label-base-width + $margin-base-vertical) * 8 + $height-base + $padding-large-vertical + $padding-base-vertical - $height-base + $border-large-width;
		background-color: $chart-bg;
	}
}


// # below
.seat-bottom-left {

	$bottom-left-width:		350px;
	$car-icon-width:		60px;
	$car-icon-height:		47px;
	width: $bottom-left-width;
	border-left: $border-large-width solid $border-color;
	border-bottom: $border-large-width solid $border-color;
	padding:$padding-base-horizontal ($padding-large-vertical - $border-large-width);
	@extend %font-ms;
	.car-status {
		background-color: $chart-bg;
		border-radius: $radius-large;
		margin-bottom: $margin-base-vertical;
		padding: $padding-large-vertical 0;
		font-size: $font-small-size;
		.flex {
			justify-content: space-around;
		}
		.car-icon {
			width: $car-icon-width;
			height: $car-icon-height;
			@include bg-car-status;
			text-align: center;
			color: #fff;
			&.stop-icon {
				background-position:0 0;
			}
			&.empty-icon {
				background-position:0 -64px;
			}
			&.big-icon {
				background-position:0 -126px;
			}
			&.task-icon {
				background-position:0 -197px;
			}
		}
		.legend {
			color: $color-text;
			margin-top: $margin-base-vertical;
		}
		
		.legend-dot {
			margin-right: $margin-small-horizontal;
			&.stop {
				background-color: $legend-stop-color;
			}
			&.empty {
				background-color: $legend-empty-color;
			}
			&.big {
				background-color: $legend-big-color;
			}
			&.task {
				background-color: $legend-task-color;
			}
		}

	}
}

//# bottom right
.seat-bottom-right {
	flex: 2 1;
	@extend %font-ms;
	margin-top: $margin-base-vertical;
	padding:$padding-base-vertical 0 $padding-base-vertical $padding-base-horizontal;
	border: $border-large-width solid $border-color; 
	border-bottom: 0;
	border-right: 0;
	.search-bar {
		height: $height-big;
		line-height: $height-big;
		overflow: hidden;
		background-color: $chart-bg;
		padding: 0 $padding-large-horizontal;
		.tabs {
			margin-top: ($height-big - 40px) / 2;
		}
		.tab {
			@include box-info(90px, 40px);
			text-decoration: none;
			color: $color-default;
			font-size: 14px;
			&.active {
				background-color: $bg-body;
			}

			i {
				@include icon-radius() {
					color: $btn-default-color;
					background-color: $btn-default-bg;
				}
				&.normal {
					@include icon-content('\e61a');
				}
				&.error {
					@include icon-content('\e619');
				}
			}
		}

		.search-input {
			@include input-text();
		}
		.search-btn {
			width: $width-base;
			height:	$height-base;
			vertical-align: baseline;
			border-radius: 0;
			@include icon-bg($font-large-size, $btn-default-color);
			i {
				@include icon-content('\e61f');
			}
		}
		.search-select {
			border: 0;
			height: $height-base;
			font-size: $font-input-size;
			color: $input-color;
		}
		.tick-timer {
			background-color: $color-primary;
			color: #fff;
			font-size: $font-default-size;
			@include box-info(60px, $height-base);
			margin-right: $margin-base-horizontal;
		}
		.toggle-btn {
			height: $height-base;
			width: 40px;
			vertical-align: baseline;
			border-radius: 0;
			margin-right: $margin-large-horizontal;
		}
	}

	.order-content {
		font-size: $font-small-size;
		color: $color-text;
		padding-top: $padding-base-vertical;
		height: 210px;
	}

	.order-nav-var {
		width: 64px;
		background-color: $chart-bg;
		margin-right: $margin-base-horizontal;
		.title {
			line-height: $height-base;
			text-align: center;
			font-size: $font-large-size;
		}
		nav {
			margin-top: $margin-base-vertical;
		}
		li {
			text-align: right;
		}
		a {
			&.active {
				background-color: $bg-body;
			}
			text-decoration:none;
			@include box-info(60px, $height-base);
			color: $color-text;

		}
	}
	.order-table {
		flex: 2 1;
	}
}