@mixin pseudo-element($el, $el-width, $el-height) {
	@if $el == 'before' or $el == 'after' {
		&:#{$el} {
			content: '';
			position: absolute;
			width: $el-width;
			height: $el-height;
			@content;
		}
	}
	@else {
		@warn "'#{$el}' is not a valid pseudo element.";
	}
}