<div ng-show='isShow'>
	<div class='calendar-header'>
		<i class='fa fa-angle-left' ng-click='previous()'>&lt;</i>
		<span>{{month.format("YYYY, MM")}}月</span>
		<i class='fa fa-angle-right' ng-click='next()'>&gt;</i>
	</div>
	
	<div class='week names'>
		<span class='day'>日</span>
		<span class='day'>一</span>
		<span class='day'>二</span>
		<span class='day'>三</span>
		<span class='day'>四</span>
		<span class='day'>五</span>
		<span class='day'>六</span>
	</div>
	
	<div class='week' ng-repeat='week in weeks'>
		<span
			class='day'
			ng-click='select(day)'
			ng-class='{today: day.isToday, selected: day.date.isSame(selected), "different-month": !day.isCurrentMonth}'
			ng-repeat='day in week.days'>{{day.number}}</span>
	</div>
</div>
