<div class='dialog-wrap handle'>
	<div class='fl handle-info'>
		<span>转警时间:2015/02/05 14:22</span>	
		<span>接警员:0258</span>
	</div>

	<div class='fr'>
		<ul class='operate-btns flex'>
			<li class='operate-btn-li'><button ng-click='watchCar()' class='operate-btn'>播放监听</button></li>	
			<li class='operate-btn-li'><button ng-click='photograph()' class='operate-btn'>查看拍照</button></li>	
			<li class='operate-btn-li'><button ng-click='trackCar()' class='operate-btn'>跟踪回放</button></li>	
		</ul>	
	</div>
	
</div>
