<div class='seat-order-operate'>
	<a 
		href='javascript:;' 
		class='show-more'
		ng-click='showBtns(item)'
		title='更多操作'>&gt;&gt;</a>
	<ul class='operate-list' ng-show='isBtnShow'>
		<li	
			class='operate-list-li'
			ng-show='isCancelBtnShow()'>
			<a 
				href='javascript:;' 
				confirm-dialog
				box-ctrl='seatCtrl'
				message-box='确认处理?'
				ensure-fn='handleCancelOrder()'
				class='operate-btn'>取消</a>
		</li>
		<li	
			class='operate-list-li'
			ng-show='isAssignBtnShow()'>
			<a 
				confirm-dialog
				box-ctrl='seatCtrl'
				message-box='指派'
				input-show='true'
				label-name='指派车辆'
				ensure-fn='assignCar(input)'
				href='javascript:;' 
				class='operate-btn'>指派</a>
		</li>
		<li	
			class='operate-list-li'
			ng-show='isPassengerFuckBtnShow()'>
			<a 
				confirm-dialog
				box-ctrl='seatCtrl'
				message-box='确认处理?'
				ensure-fn='handlePassengerFuckOrder()'
				href='javascript:;' 
				class='operate-btn'>乘客放空</a>
		</li>
		<li	
			class='operate-list-li'
			ng-show='isDriverFuckBtnShow()'>
			<a 
				confirm-dialog
				box-ctrl='seatCtrl'
				message-box='确认处理?'
				ensure-fn='handleDriverFuckOrder()'
				href='javascript:;' 
				class='operate-btn'>司机爽约</a>
		</li>
	</ul>
</div>
