<div class='pagination'>
	<ul>
		<li class='btn-li'>
			<a 
				href='javascript:;' 
				class='prev pagination-btn'
				ng-class='{disabled: noPrevious()}'
				ng-click='selectPrevious()'><i class='prev-icon'></i></a>
		</li>
		<li class='btn-li page-btns'>
			<a 
				href='javascript:;' 
				class='page-btn pagination-btn'
				ng-class='{active: isCurrentPage(item)}'
				ng-click='selectPage(item)'
				ng-repeat='item in pages'>{{item}}</a>
		</li>
		<li class='btn-li'>
			<a 
				href='javascript:;' 
				class='next pagination-btn'
				ng-class='{disabled: noNext()}'
				ng-click='selectNext()'><i class='next-icon'></i></a>
		</li>
	</ul>
</div>
