<div class='step'>
	<ul class='flex'>
		<li>
			<p>{{orderInfo.createTime}}</p>
			<p>乘客电话召车</p>
		</li>
		<li>
			<p>司机抢单成功</p>
			<p>{{orderInfo.orderTime}}</p>
		</li>
		<li>
			<p>{{orderInfo.pickupTime}}</p>
			<p>司机接到乘客</p>
		</li>
		<li>
			<p>到达目的</p>
			<p>{{orderInfo.endTime}}</p>
		</li>
	</ul>
</div>

<div class='btns'>
	<button 
		confirm-dialog
		box-ctrl='leaderCtrl'
		message-box='指派'
		input-show='true'
		label-name='指派车辆'
		ensure-fn='assignCar(input)'
		ng-show='isAssignBtnShow()'>指派</button>
	<button 
		confirm-dialog
		box-ctrl='leaderCtrl'
		message-box='确认处理?'
		ensure-fn='cancelOrder()'
		ng-show='isCancelBtnShow()'>取消</button>
	<button 
		confirm-dialog
		box-ctrl='leaderCtrl'
		message-box='确认处理?'
		ensure-fn='passengerFuck()'
		ng-show='isPassengerFuckBtnShow()'>乘客放空</button>
	<button 
		confirm-dialog
		box-ctrl='leaderCtrl'
		message-box='确认处理?'
		ensure-fn='driverFuck()'
		ng-show='isDriverFuckBtnShow()'>司机爽约</button>
</div>
