<div class='box-wrap'>
	<h1 class='box-title'>三方会议</h1>
	<div class='box-container'>
		<form>
			<div class='select-wrap'>
				<label class='message-label'>第三方会话对象</label>
				<input 
					type='checkbox' 
					class='tripartite-checkbox'
					id='innerLineCheckbox'/>
				<label class='message-label' for='innerLineCheckbox'>内线</label>
				<select class='target-select'>
					<option>6006(甄洋)</option>	
				</select>
			</div>
			<div class='message-box-btns'>
				<button class='message-box-ensure btn'>转接</button>
			</div>
		</form>
	</div>
</div>
