<div class='dialog-wrap'>
	<div class='fl'>
		<ul class='operate-btns flex'>
			<li class='operate-btn-li'>
				<button 
					class='operate-btn'
					confirm-dialog
					box-ctrl='policeCtrl'
					message-box='确认监听?'
					ensure-fn='watchCar()'>监听</button>
			</li>	
			<li class='operate-btn-li'>
				<button 
					class='operate-btn'
					confirm-dialog
					box-ctrl='policeCtrl'
					message-box='确认拍照?'
					ensure-fn='photograph()'>拍照</button>
			</li>	
			<li class='operate-btn-li'>
				<button 
					class='operate-btn'
					confirm-dialog
					box-ctrl='policeCtrl'
					message-box='确认跟踪?'
					ensure-fn='trackCar()'>跟踪</button>
			</li>	
			<li class='operate-btn-li' ng-show='isShowRelieveBtn()'>
				<button 
					class='operate-btn'
					confirm-dialog
					box-ctrl='policeCtrl'
					message-box='确认解除?'
					ensure-fn='relieve()'>解除</button>
			</li>	
			<li class='operate-btn-li' ng-show='!hasTransferPolice()'>
				<button 
					class='operate-btn transfer-police-btn'
					confirm-dialog
					box-ctrl='policeCtrl'
					message-box='确认转警'
					ensure-fn='transferPolice()'>转警</button>
			</li>	
		</ul>	
	</div>

	<div class='fl handle-info' ng-show='hasTransferPolice()'>
		<span>转警时间:{{timeTransfered}}</span>	
		<span>接警员:{{operator}}</span>
	</div>

	
	<div class='fr' ng-show='hasAlarmNode()'>
		<form 
			class='handle-form'
			confirm-dialog
			box-ctrl='policeCtrl'
			message-box='确认提交'
			ensure-fn='addAlarmNode()'>
			<ul class='flex'>
				<li class='field-li'>
					<input 
						type='radio' 
						name='alarmReason'
						class='field-select'
						id='operateDriverMiss'
						ng-model='alarmOperateInfo'
						ng-value='1'/>	
					<label for='operateDriverMiss'>设备误报</label>
				</li>
				<li class='field-li'>
					<input 
						type='radio' 
						name='alarmReason'
						class='field-select'
						id='operateTest'
						ng-model='alarmOperateInfo'
						ng-value='2'/>	
					<label for='operateTest'>测试</label>
				</li>
				<li class='field-li'>
					<input 
						type='radio' 
						name='alarmReason'
						class='field-select'
						id='operatePractice'
						ng-model='alarmOperateInfo'
						ng-value='3'/>	
					<label for='operatePractice'>实警</label>
				</li>
				<li class='field-li'>
					<input 
						type='radio' 
						name='alarmReason'
						class='field-select'
						id='operateFacilityError'
						ng-model='alarmOperateInfo'
						ng-value='4'/>	
					<label for='operateFacilityError'>设备故障</label>
				</li>
				<li class='field-li'>
					<input 
						type='text' 
						class='text-input'
						placeholder='详细说明'
						ng-model='alarmNote'/>
				</li>
				<li class='field-li'>
					<button class='submit-btn'>确定</button>
				</li>
			</ul>
		</form>
	</div>

	<div class='fr after-click-btns'>
		<ul class='flex'>
			<li class='operate-btn-li' ng-show='canPlayVioce()'>
				<button class='operate-btn'>播放监听</button>	
			</li>
			<li class='operate-btn-li' ng-show='canViewPhoto()'>
				<button class='operate-btn'>查看拍照</button>	
			</li>
			<li class='operate-btn-li' ng-show='canPlayTrace()'>
				<button class='operate-btn'>跟踪回放</button>	
			</li>
		</ul>
	</div>

</div>
