
<section class='header-bar'>

	<nav class='header-nav-bar'>
		<a ng-href='index.htm' class='icon-btn icon-header-seat' title='坐席'></a>
		<a ng-show='isLeader()' ng-href='leader.htm' class='icon-btn icon-header-leader' title='班长'></a>
		<a ng-href='searchMore.htm' class='icon-btn icon-header-order-search' title='订单查询'></a>
		<a ng-href='special.htm' class='icon-btn icon-header-special' title='专车'></a>
		<a ng-href='police.htm' class='icon-btn icon-header-alarm-search' title='报警查询'></a>
		<a ng-href='sinbad.htm' class='icon-btn icon-header-represent' title='代驾'></a>
	</nav>

	<div class='header-call'>
		<span class='call-count'>24</span>

		<button
			title='拨号'	
			class='icon-btn-bg'
			type='button'
			><i class='icon-header-call-btn'></i></button>

		<button
			title='转接'	
			class='icon-btn-bg'
			type='button'
			><i class='icon-header-call-transform-btn'></i></button>

		<button
			title='三方通话会议'
			class='icon-btn-bg'
			type='button'
			><i class='icon-header-call-tertiary-btn'></i></button>

	</div>

	<div class='header-operate'>
		<div class='btn-group'>
			<button 
				class='btn btn-default' 
				ng-class='{active: isRestState()}'
				ng-disabled='!isSignIn()'
				ng-click='selectRest()'>小休</button>
			<button 
				class='btn btn-default' 
				ng-class='{active: isBusyState()}'
				ng-disabled='!isSignIn()'
				ng-click='selectBusy()'>示忙</button>
			<button 
				class='btn btn-default' 
				ng-class='{active: isFreeState()}'
				ng-disabled='!isSignIn()'
				ng-click='selectFree()'>接线</button>
		</div>
		<button 
			class='sign-state-btn'
			title='签入/签出'
			type='button'
			ng-click='toggleSignState()'
			ng-class='{"icon-sign-in": isSignIn(), "icon-sign-out": !isSignIn()}'
			></button>
		<div class='header-state-info'>
			<div class='above'>
				<i class='icon-header-user'></i>
				<span>{{username}}</span>	
			</div>
			<div class='below'>
				<i class='icon-header-timer'></i>
				<span>{{currentTimer}}</span>
			</div>
		</div>
		<button 
			class='exit-btn icon-exit-btn' 
			ng-click='logout()' 
			title='退出登录'></button>
	</div>
</section>

<section class='flex info-bar'>
	<div class='info-left'><span class='scroll-info'>1.一切正常.</span></div>
	<div class='info-right' header-info></div>
</section>
