<div ng-if='hasHeader()'>
<section class='flex'>
	<nav class='nav'>
		<ul class='flex'>
			<li><a ng-href='index.htm' class='icon-btn file-btn'></a></li>
			<li ng-show='hasLeaderBtn()'>
			<a ng-href='leader.htm' class='icon-btn search-btn'></a>
			</li>
			<li>
			<a ng-href='searchMore.htm' class='icon-btn police-btn'></a>
			</li>
			<li>
			<a ng-href='special.htm' class='icon-btn track-btn'></a>
			</li>
			<li>
			<a ng-href='police.htm' class='icon-btn listen-btn'></a>
			</li>
		</ul>
	</nav>

	<div class='call-operate'>
		<ul class='flex'>
			<li><span class='call-count'>24</span></li>
			<li>
				<button 
					class='icon-btn-bg call-btn'
					call-number></button>
			</li>
			<li>
				<button 
					class='icon-btn-bg transform-btn'
					call-transform></button>
			</li>
			<li>
				<button 
					class='icon-btn-bg list-btn'
					tripartite-conference></button>
			</li>
		</ul>
	</div>

	<div class='status flex'>

		<div class='status-icon' ng-class='{signIn: isSignIn()}'>
			<i
				class='current-state icon-img'
				ng-class='{
					free: isFreeState(), 
					busy: isBusyState(), 
					rest: isRestState(), 
					signOut:!isSignIn()}'></i>
		</div>

		<div class='user-info-timer'>
			<div class='username'><i class='icon-img'></i><span>{{username}}</span></div>
			<div class='timer'><i class='icon-img'></i><span>{{currentTimer}}</span></div>
		</div>

		<div class='status-btns'>
			<button
				class='icon-btn'
				ng-class='{disabled:!firstBtnCanClick(),rest:!isRestState(),calling:isRestState()}'
				ng-click='toggleFirstCallingStateBtn()'></button>
			<button 
				class='icon-btn'
				ng-class='{disabled:!secondBtnCanClick(),busy:!isBusyState(),calling:isBusyState()}'
				ng-click='toggleSecondCallingStateBtn()'></button>
		</div>

		<ul class='flex'>
			<li><a href='javascript:;' 
				class='sign-state'
				ng-class='{"sign-in": isSignIn()}' 
				ng-click='toggleSignState()'></a></li>
			<li><a href='javascript:;' class='exit-btn icon-btn' ng-click='logout()'></a></li>
		</ul>

	</div>

</section>

<section class='flex info-bar'>
	<div class='info-left'><span class='scroll-info'>1.一切正常.</span></div>
	<div class='info-right'><span class='scroll-info'>每天一笔，立减3元；司机满3笔奖8元，满6笔再奖8元，满10笔再奖30元，可累计</span></div>
</section>
</div>
