<div ng-if='hasHeader()'>
<section class='flex'>
	<nav class='nav'>
		<ul class='flex'>
			<li><a ng-href='{{appRoot}}/' class='btn-icon-large file-btn'></a></li>
			<li ng-show='hasLeaderBtn()'><a ng-href='{{appRoot}}/leader.htm' class='btn-icon-large file-search'></a></li>
			<li><a ng-href='{{appRoot}}/searchMore.htm' class='btn-icon-large police'></a></li>
			<li><a ng-href='{{appRoot}}/special.htm' class='btn-icon-large car-track'></a></li>
			<li><a ng-href='{{appRoot}}/police.htm' class='btn-icon-large car-track'></a></li>
		</ul>
	</nav>

	<div class='call-operate'>
		<ul class='flex'>
			<li><span class='call-count'>24</span></li>
			<li><button class='btn-bg-icon call-btn'></button></li>
			<li><button class='btn-bg-icon transform-btn'></button></li>
			<li><button class='btn-bg-icon list-btn'></button></li>
		</ul>
	</div>

	<div class='status flex'>

		<div class='status-icon' ng-class='{signIn: isSignIn()}'>
			<i
				class='more-state'
				ng-class='{
					vain: isFreeState(), 
					busy: isBusyState(), 
					rest: isRestState(), 
					signOut:!isSignIn()}'></i>
		</div>

		<div class='user-info-timer'>
			<div class='user-number'><i></i><span>{{username}}</span></div>
			<div class='timer'><i></i><span>{{currentTimer}}</span></div>
		</div>

		<div class='status-btns'>
			<button
				title='{{firstBtnTitle}}'
				ng-class='{disabled:!firstBtnCanClick(),rest:!isRestState(),calling:isRestState()}'
				ng-click='toggleFirstCallingStateBtn()'></button><button 
				title='{{secondBtnTitle}}'
				ng-class='{disabled:!secondBtnCanClick(),busy:!isBusyState(),calling:isBusyState()}'
				ng-click='toggleSecondCallingStateBtn()'></button>
		</div>

		<ul class='flex'>
			<li><a href='javascript:;' 
				class='sign-state'
				ng-class='{"sign-out": !isSignIn(), "sign-in": isSingIn()}' 
				ng-click='toggleSignState()'></a></li>
			<li><a href='javascript:;' class='exit-btn btn-icon-large' ng-click='logout()'></a></li>
		</ul>

	</div>

</section>

<section class='flex info-bar'>
	<div class='info-left'><span class='scroll-info'>1.一切正常.</span></div>
	<div class='info-right'><span class='scroll-info'>每天一笔，立减3元；司机满3笔奖8元，满6笔再奖8元，满10笔再奖30元，可累计</span></div>
</section>
</div>
