%btn-normal {
	border: 0;
	border-radius: $radius-small-size;
	text-decoration: none;
	outline: 0;
	background-color: $btn-bg;
	color: #fff;
	&:hover {
		background-color: $btn-hover-bg;	
	}
	&:active {
		background-color: $btn-active-bg;	
	}
}

