.list-page {
	$tab-height: 40px;

	@extend %font-family;
	padding: $padding-large-vertical $padding-horizontal;
	border-top: $border-main-size solid $border-main-color;
	border-right: $border-main-size solid $border-main-color;
	font-size: 14px;
	.tabs {
		padding-left: $tab-height + $padding-horizontal;
	}
	.search-input-text {
		@extend %text-input;
		border: 1px solid $input-border-color;
		border-right: 0;
		border-radius: $radius-small-size 0 0 $radius-small-size;
		width: 350px;
		&:focus {
			border-color: $color-primary;
		}
	}
	.search-btn {
		border-radius: 0 $radius-small-size $radius-small-size 0;
		width: 70px; 
	}

	.more-link {
		font-size: 14px;
		color: $text-color;
		text-decoration: none;
	}

	.select {
		width: 180px;
	}

	.more-btn-wrap {
		padding: $padding-vertical $padding-horizontal;
	}

	.more-btn {
		width: 90px;
		background: $color-primary;
		&:hover {
			background-color: darken($color-primary, 10%);	
		}
		&:active {
			background-color: darken($color-primary, 20%);	
		}
	}

	.simple {
		padding:$padding-large-vertical $padding-horizontal $padding-vertical;
		background-color: #fff;
	}
	.more {
		background-color: #fff;
		padding-left: $padding-horizontal * 2;
	}
	.field-wraper {
		display: inline-block;
		margin-right: $margin-horizontal;
	}
	.search {
		position: relative;
	}
	.toggle-btns {
		position: absolute;
		right: $padding-large-horizontal;
		top: $padding-large-vertical;
		.btn{
			width: 96px;
		}
		.active {
			background-color: $color-primary;
		}
	}
}

//#################
.normal-tab {

	$tab-height: 40px;

	position:relative;
	text-decoration: none;
	display: block;
	height: $tab-height;
	line-height: $tab-height;
	background-color: #fff;
	margin-right: $tab-height;
	color: $color-primary;
	font-weight: bold;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 100%;
		border-left: $tab-height solid #fff;
		border-top: $tab-height solid transparent;
		z-index: 10;
	}
	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 100%;
		border-right: $tab-height solid #fff;
		border-top: $tab-height solid transparent;
	}
}


//#########################
.orders {
	position: relative;
	padding: $padding-vertical $padding-horizontal;
	background-color: #fff;
	.table-wrapper {
		height: 360px;
	}
	.paging {
		position: absolute;
		bottom: $padding-vertical;
		right: $padding-horizontal;
	}
}

tr.add-new {
	animation: newOrder 5s;	
	-webkit-animation: newOrder 5s;	
}

@keyframes newOrder {
	from {background: $color-primary;}
	to {background: transparent;}
}

@-webkit-keyframes newOrder {
	from {background: $color-primary;}
	to {background: transparent;}
}

.add-tab {
	animation: addTab 5s;
	-webkit-animation: addTab 5s;
}

@keyframes addTab
{
	0% {box-shadow: inset 0px 0px 8px rgba(255, 186, 88, 1);}
	25% {box-shadow: inset 0px 0px 6px rgba(255, 186, 88, 1);}
	50% {box-shadow: inset 0px 0px 5px rgba(255, 186, 88, 1);}
	80% {box-shadow: inset 0px 0px 4px rgba(255, 186, 88, 1);}
	100% {box-shadow: inset 0px 0px 0px rgba(255, 186, 88, .8);}
}

@-webkit-keyframes addTab
{
	0% {box-shadow: inset 0px 0px 8px rgba(255, 186, 88, 1);}
	25% {box-shadow: inset 0px 0px 6px rgba(255, 186, 88, 1);}
	50% {box-shadow: inset 0px 0px 5px rgba(255, 186, 88, 1);}
	80% {box-shadow: inset 0px 0px 4px rgba(255, 186, 88, 1);}
	100% {box-shadow: inset 0px 0px 0px rgba(255, 186, 88, .8);}
}

.dialog-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
	background-color: #000000;
	opacity: 0.8;
}

.legend-dot {
	display:inline-block;
	width: $legend-dot-width;
	height: $legend-dot-width;
}

.icon-img {
	@extend %icon-font;
	vertical-align: bottom;
}

.icon-img-bg {
	@extend %icon-font;
	border-radius: $radius-small-size;
	color: #fff;
	vertical-align: bottom;
}

