.list-page {
	border-right: $border-main-size solid $border-main-color;
	padding: 20px 10px 10px 20px;
	.search-nav-bar {
		padding: 8px 10px;
		.keywords-input {
			border-top-right-radius: 0;	
			border-bottom-right-radius: 0;
			border-right: 0;
		}

		.search-btn[type='submit'] {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			height: 34px;
			.icon-search {
				display: inline-block;	
			}
		}

		.tab-btn {
			padding: 6px 15px;	
		}
	}

	.orders-wrapper {
		background: #fff;	
		padding: 10px;
	}

	.orders-table {
		min-height: 360px;	
	}
	.table {
		font-size: 12px;	
		table-layout: fixed;
		th,
		td {
			text-align: center;	
		}
	}
}


//#################
.normal-tab {

	$tab-height: 40px;

	position:relative;
	text-decoration: none;
	display: block;
	height: $tab-height;
	line-height: $tab-height;
	background-color: #fff;
	margin-right: $tab-height;
	color: $color-primary;
	font-weight: bold;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 100%;
		border-left: $tab-height solid #fff;
		border-top: $tab-height solid transparent;
		z-index: 10;
	}
	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 100%;
		border-right: $tab-height solid #fff;
		border-top: $tab-height solid transparent;
	}
}


//#########################
.orders {
	position: relative;
	padding: $padding-vertical $padding-horizontal;
	background-color: #fff;
	.table-wrapper {
		height: 360px;
	}
	.paging {
		position: absolute;
		bottom: $padding-vertical;
		right: $padding-horizontal;
	}
}

tr.add-new {
	animation: newOrder 5s;	
	-webkit-animation: newOrder 5s;	
}

@keyframes newOrder {
	from {background: $color-primary;}
	to {background: transparent;}
}

@-webkit-keyframes newOrder {
	from {background: $color-primary;}
	to {background: transparent;}
}

.add-tab {
	animation: addTab 5s;
	-webkit-animation: addTab 5s;
}

@keyframes addTab
{
	0% {box-shadow: inset 0px 0px 8px rgba(255, 186, 88, 1);}
	25% {box-shadow: inset 0px 0px 6px rgba(255, 186, 88, 1);}
	50% {box-shadow: inset 0px 0px 5px rgba(255, 186, 88, 1);}
	80% {box-shadow: inset 0px 0px 4px rgba(255, 186, 88, 1);}
	100% {box-shadow: inset 0px 0px 0px rgba(255, 186, 88, .8);}
}

@-webkit-keyframes addTab
{
	0% {box-shadow: inset 0px 0px 8px rgba(255, 186, 88, 1);}
	25% {box-shadow: inset 0px 0px 6px rgba(255, 186, 88, 1);}
	50% {box-shadow: inset 0px 0px 5px rgba(255, 186, 88, 1);}
	80% {box-shadow: inset 0px 0px 4px rgba(255, 186, 88, 1);}
	100% {box-shadow: inset 0px 0px 0px rgba(255, 186, 88, .8);}
}

.dialog-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
	background-color: #000000;
	opacity: 0.8;
}

.legend-dot {
	display:inline-block;
	width: $legend-dot-width;
	height: $legend-dot-width;
}

.icon-img {
	@extend %icon-font;
	vertical-align: bottom;
}

.icon-img-bg {
	@extend %icon-font;
	border-radius: $radius-small-size;
	color: #fff;
	vertical-align: bottom;
}

