.table {
	@extend %font-family;
	width: 100%;
	color: $text-color;
	font-size: 12px;
	table-layout: fixed;
	thead {
		background: $color-third;
		th {
			height: $normal-size;
			text-align: center;
			font-weight: bold;
		}
	}

	tbody {
		background-color: $color-secondary;
		tr {
			border-bottom: 1px dashed #ccc;
			&:hover,
			&.active {
				color: #fff;
				background-color: $color-primary;
			}

		}
		td {
			text-align: center;
			height: $normal-size;
		}
	}

}

