<section class='leader-chart flex'>
	<div class='employ flex' employee-status>
	</div>

	<div class='car'>
		<div>
			<ul class='flex'>
				<li><i class='legend-dot stop-legend'></i><span>未登录车/停运</span></li>
				<li><i class='legend-dot empty-legend'></i><span>空车</span></li>
				<li><i class='legend-dot heavy-legend'></i><span>重车</span></li>
				<li><i class='legend-dot task-legend'></i><span>任务车</span></li>
			</ul>
		</div>
		<div class='graph' chart-car car-data='carChart'></div>
	</div>

	<div class='call'>
		<div call-status></div>
	</div>
</section>

<section class='leader-orders list-page'>
	<div class='leader-nav-bar clearfix search-nav-bar'>

		<form class='form-inline fr' ng-submit='searchOrder()'>
			<div class='form-group'>
				<input 
					type='text' 
					class='form-control keywords-input'
					ng-required='true'
					ng-model='words'
					pause-emit='pause'/>
			</div><button class='btn btn-primary search-btn' type='submit'><i class='icon-search'></i></button>
		</form>

		<button
			class='btn btn-default fl immediate-reservation-toggle-btn'
			ng-click='toggleImmediateOrReservation()'
			type='button'
			>{{immediateOrReservation}}</button>

		<ul class='nav nav-pills fl'>
			<li class='presentation'	ng-class='{active: isPreparedCurrentTab()}'>
				<a 
					href='javascript:;' 
					class='tab-btn'
					ng-click='cutOrderTabPrepared()'>
					调派中<span class='badge'>{{preparedCount}}</span>
			</a>
			</li>
			<li class='presentation' ng-class='{active: isReceivedCurrentTab()}'>
				<a 
					href='javascript:;' 
					class='tab-btn'
					ng-click='cutOrderTabReceived()'>
					已接单<span class='badge'>{{receivedCount}}</span>
					</a>
			</li>
			<li class='presentation' ng-class='{active: isStartedCurrentTab()}'>
				<a 
					href='javascript:;' 
					class='tab-btn'
					ng-click='cutOrderTabStarted()'>
					以出发<span class='badge'>{{startedCount}}</span>
				</a>
			</li>
			<li class='presentation' ng-class='{active: isDoneCurrentTab()}'>
				<a 
					href='javascript:;' 
					class='tab-btn'
					ng-click='cutOrderTabDone()'>
					已完成<span class='badge'>{{doneCount}}</span>
					</a>
			</li>
			<li class='presentation' ng-class='{active: isExceptionCurrentTab()}'>
				<a 
					href='javascript:;' 
					class='tab-btn'
					ng-click='cutOrderTabException()'>
					异常单<span class='badge'>{{exceptionCount}}</span>
				</a>
			</li>
		</ul>
	</div>


	<div class='orders-wrapper'>
		<div class='orders-table flex'>
			<div class='table-wrapper'>
				<table class='table table-condensed table-hover'>
					<thead>
						<tr>
							<th>订单编号</th>
							<th>用车时间</th>
							<th>乘客</th>
							<th>乘客号码</th>
							<th>车牌号</th>
							<th>乘客地址</th>
							<th>目的地</th>
							<th>类型</th>
							<th>状态</th>
							<th>订单详情</th>
						</tr>
					</thead>
					<tbody>
						<tr 
							ng-repeat='item in orders' 
							leader-order-info='item'
							show-map='showMap()'
							hide-map='hideMap()'
							ng-class='{info: item.isActive}'>
							<td class='text-over-hide' title='{{item.sn}}'>{{item.sn}}</td>
							<td class='text-over-hide'>{{item.timeCreated}}</td>
							<td class='text-over-hide' title='{{item.user}}'>{{item.user}}</td>
							<td class='text-over-hide' title='{{item.contactPhone}}'>{{item.contactPhone}}</td>
							<td class='text-over-hide' title='{{item.vehicleNumber}}'>{{item.vehicleNumber}}</td>
							<td class='text-over-hide' title='{{item.poi}}'>{{item.poi}}</td>
							<td class='text-over-hide' title='{{item.destination_poi}}'>{{item.destination_poi}}</td>
							<td class='text-over-hide'>{{item.uType}}</td>
							<td class='text-over-hide' title='{{item.statusName}}'>{{item.statusName}}</td>
							<td><button 
									class='btn btn-primary btn-xs'
									view-order='item'>查看</button></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class='map-wrapper' ng-show='isMapShow'>
				<div class='map-view' leader-map></div>	
			</div>
		</div>
		<uib-pagination 
			class='pagination'
			total-items='orderItemCount' 
			ng-model='currentOrderPage' 
			ng-change='pageChanged()'
			max-size='10'
			previous-text='&lsaquo;' 
			next-text='&rsaquo;' 
			first-text='&laquo;' 
			last-text='&raquo;'
			></uib-pagination>
	</div>
</section>
