.leader-chart {

	$chart-height: 200px;

	@extend %font-family;
	font-size: 12px;

	padding: 0 $padding-horizontal $padding-vertical;
	border: $border-main-size solid $border-main-color;
	border-top: 0;

	.employ,
	.car,
	.call {
		border-radius: $radius-small-size;
		background-color: $chart-bg;
		height: $chart-height;
	}

	.employ {
		width:50%;
		border: $border-small-size solid #fff;
		box-sizing: border-box;
		margin-right: $margin-large-horizontal;

		.employ-chart {
			position: relative;
			width: 410px;
			border-right: 2px solid #fff;
			.graph {
				width: 350px;
			}
			.dot-busy {
				background-color: $employ-busy-color;
			}
			.dot-rest {
				background-color: $employ-rest-color;
			}
			.dot-respond {
				background-color: $employ-respond-color;
			}
			.dot-free {
				background-color: $employ-free-color;
			}
		}

		.employ-legend-wrap {
			flex: 2 1;
			.dots-ul {
				display: flex;
				flex-direction: column;
				height: $chart-height - $border-small-size * 2;
				justify-content: center;
			}
			.dot-li {
				position: relative;
				&.active:before {
					content: '';
					position: absolute;
					right: 0;
					top: 50%;
					margin-top: -6px;
					border-right:6px solid #fff;
					border-top:6px solid transparent;
					border-bottom: 6px solid transparent;
				}

				&.active:after {
					content: '';
					position: absolute;
					right: 0;
					top: 50%;
					margin-top: -6px;
					margin-right: -2px;
					border-right:6px solid $chart-bg;
					border-top:6px solid transparent;
					border-bottom: 6px solid transparent;
					z-index: 10;
				}
			}
		}

		.tab-btn {
			display: block;
			line-height: 40px;
			font-size: 12px;
			text-decoration: none;
			color: $text-color;
		}
		.legend-dot {
			margin-right: $margin-horizontal;
		}

		.employ-info {
			flex: 2 1;
			padding: $padding-vertical 0;
			overflow: auto;
			overflow-x: hidden;
			@extend %scroll-bar;
			.employ-info-ul {
				flex-wrap: wrap;
				justify-content: center;
			}
			.item {
				background-color: darken($chart-bg, 10%);
				border-radius: $radius-small-size;
				color: #fff;
				font-size: 12px;
				width: 100px;
				box-sizing: border-box;
				padding: 6px $padding-horizontal;
				margin: $margin-small-horizontal;
			}
			.user-icon,
			.timer-icon {
				vertical-align: baseline;
				margin-right: $margin-small-horizontal;
				&:before {
					color: #fff;
					font-size: 20px;
				}
			}
			.user-icon {
				@include icon-content('\e627');
			}
			.timer-icon {
				@include icon-content('\e617');
			}
		}
	}

	.car {
		$legend-wrap-height: $normal-size;

		flex: 2 1;
		position: relative;
		margin-right: $margin-horizontal;
		color: $text-color;
		line-height: $legend-wrap-height;
		.flex {
				justify-content: space-around;
		}
		.graph {
			position: absolute;
			top: $legend-wrap-height;
			left: 0;
			right: 0;
			bottom: 0;
		}
		.legend-dot {
			margin-right: $margin-small-horizontal;
		}
		.stop-legend {
			background-color: $car-stop-color;
		}
		.empty-legend {
			background-color: $car-empty-color;
		}
		.heavy-legend {
			background-color: $car-heavy-color;;
		}
		.task-legend {
			background-color: $car-task-color;
		}
	}

	.call {
		flex: 2 1;
	}
}

.leader-orders {

	$tab-size: 40px;
	$tab-bg: #ccc;
	$tab-active-bg: #fff;
	$tab-icon-bg: #fff;
	$tab-icon-active-bg: $color-primary;
	$tab-icon-color: #ccc;
	$tab-icon-active-color: #fff;
	$tab-num-bg: #fff;
	$tab-num-active-bg: $color-primary;
	$tab-num-color: $color-primary;
	$tab-num-active-color: #fff;
	$search-wrap-height: 30px;

	@extend %font-family;
	border-right: $border-main-size solid $border-main-color;
	padding: $padding-large-vertical $padding-horizontal $padding-vertical ($padding-horizontal + $border-main-size);
	.nav-bar {
		position: relative;
		padding: 0 ($tab-size + $padding-horizontal);
	}

	.immediate-reservation-btn {
		$btn-size: 30px;
		position: absolute;
		left: 0;
		bottom: 5px;
		width: 10px;
		height: $btn-size;
		background-color: $btn-bg;
		color: #fff;
		&:after {
			content: '';
			position: absolute;
			left:100%;
			top:0;
			border-left: $btn-size solid $btn-bg;
			border-bottom: $btn-size solid transparent;	
		}
		z-index: 50;
		.btn-word {
			position: absolute;	
			font-size: 14px;
			color: #fff;
			z-index: 55;
			top: 5px;
			left: 5px;
			font-weight: bold;
		}

		&:hover {
			background-color: $btn-hover-bg;	
		}
		&:hover:after {
			border-left-color: $btn-hover-bg;	
		}
		&:active {
			background-color: $btn-active-bg;	
		}
		&:active:after {
			border-left-color: $btn-active-bg;	
		}
	}

	.tab {
		position:relative;
		text-decoration: none;
		display: block;
		height: $tab-size;
		line-height: $tab-size;
		background-color: $tab-bg;
		margin-right: $tab-size;
		.icon-img-bg {
			width: 28px;
			height: 28px;
			line-height: 28px;
			border-radius: 50%;
			background-color: $tab-icon-bg;
			vertical-align: middle;
			color: $tab-icon-color;	
			&:before {
				font-size: 28px;
			}
		}
		.prepared-icon {
			@include icon-content('\e61b');
		}
		.received-icon {
			@include icon-content('\e61c');
		}
		.started-icon {
			@include icon-content('\e61d');
		}
		.done-icon {
			@include icon-content('\e61a');
		}
		.exception-icon {
			@include icon-content('\e619');
		}
		b {
			@include box-in-middle(20px, 20px);
			background-color: $tab-num-bg;
			font-size: 13px;
			border-radius: $radius-small-size;
			color: $tab-num-color;
			font-weight: bold;
		}
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 100%;
			border-left: $tab-size solid $tab-bg;
			border-top: $tab-size solid transparent;
			z-index: 10;
		}
		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 100%;
			border-right: $tab-size solid $tab-bg;
			border-top: $tab-size solid transparent;
		}
		&.active {
			background-color: $tab-active-bg;
			&:before {
				border-right-color: $tab-active-bg;
			}
			&:after {
				border-left-color: $tab-active-bg;
			}
			b {
				color: $tab-num-active-color;
				background-color: $color-primary;
			}
			.icon-img-bg {
				color: $tab-icon-active-color;
				background-color: $tab-icon-active-bg;
			}
		}
	}

	.search-wrap {
		position: relative;
		margin-top: ($tab-size - $search-wrap-height) / 2;
	}

	.input-wrap {
		height: $search-wrap-height;
  	width: 200px;
  	background-color: #fff;
  	transform: skew(45deg);
	}

	.search-input {
		@extend %text-input;
		position: absolute;
		top: 50%;
		left: 20px;
		border: 0;
		width: 160px;
		transform: translateY(-50%);
	}

	.search-btn {
		position: relative;
		outline: none;
		width: 60px;
		height:	$search-wrap-height;
		vertical-align: baseline;
		border-radius: 0;
		transform-origin: 50% 50%;
		transform: skew(45deg);
		@include icon-content('\e61f');
		&:before {
			font-size: 16px;	
		}
	}

	.table-wrapper {
		flex: 2 1;
	}

	.map-wrapper {
		position: relative;
		width: 670px;
		height: 318px;
		background: $chart-bg;
		margin-left: $margin-horizontal;
	}

	.leader-map {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.col1 {
		width: 5%;
	}
	.col2 {
		width: 8.8%;
	}
	.col3 {
		width: 11.2%;
	}
	.col4 {
		width: 8.2%;
	}
	.col5 {
		width: 12%;
	}
	.col6 {
		width: 8.8%;
	}
	.col7 {
		width: 16%;
	}
	.col8 {
		width: 16%;
	}
	.col9 {
		width: 7%;
	}
	.col10 {
		width: 7%;
	}
}

//order step
.order-step {
	
	$dot-size: 8px;

	@extend %font-family;
	position: absolute;
	font-size: 14px;
	color: $text-color;
	.step {
		padding: $padding-vertical 70px;
		background-color: $handle-bar-bg;

		.step-ul {
			position: relative;
			&:before {
				content: '';
				position: absolute;
				top: 50%;
				width: 100%;
				left: 0;
				border-bottom: 1px dashed  #ccc;
			}
		}

		.step-li {
			flex: 2 1;
			position: relative;
			text-align: center;
			line-height: $normal-size;
			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				width: $dot-size;
				height: $dot-size;
				margin-left: -$dot-size;
				margin-top: -$dot-size;
				background: #ccc;
				border: $border-small-size solid $handle-bar-bg;
				border-radius: 50%;
				z-index: 10;
			}
		}

	}

	.btns-wrap {
		padding: $padding-vertical 0;
		background-color: lighten($handle-bar-bg, 5%);
		text-align: center;
		.btn {
			width: 80px;
			background-color:  $color-primary;
			&:hover {
				background-color: darken($color-primary, 10%);	
			}
			&:active {
				background-color: darken($color-primary, 20%);
			}
		}
	}
}
