.leader-chart {

	$chart-height: 200px;

	@extend %font-family;
	font-size: 12px;

	padding: 0 $padding-horizontal $padding-vertical;
	border: $border-main-size solid $border-main-color;
	border-top: 0;

	.employ,
	.car,
	.call {
		border-radius: $radius-small-size;
		background-color: $chart-bg;
		height: $chart-height;
	}

	.employ {
		width:50%;
		border: $border-small-size solid #fff;
		box-sizing: border-box;
		margin-right: $margin-large-horizontal;

		.employ-chart {
			position: relative;
			width: 410px;
			border-right: 2px solid #fff;
			.graph {
				width: 350px;
			}
			.dot-busy {
				background-color: $employ-busy-color;
			}
			.dot-rest {
				background-color: $employ-rest-color;
			}
			.dot-respond {
				background-color: $employ-respond-color;
			}
			.dot-free {
				background-color: $employ-free-color;
			}
		}

		.employ-legend-wrap {
			flex: 2 1;
			.dots-ul {
				display: flex;
				flex-direction: column;
				height: $chart-height - $border-small-size * 2;
				justify-content: center;
			}
			.dot-li {
				position: relative;
				&.active:before {
					content: '';
					position: absolute;
					right: 0;
					top: 50%;
					margin-top: -6px;
					border-right:6px solid #fff;
					border-top:6px solid transparent;
					border-bottom: 6px solid transparent;
				}

				&.active:after {
					content: '';
					position: absolute;
					right: 0;
					top: 50%;
					margin-top: -6px;
					margin-right: -2px;
					border-right:6px solid $chart-bg;
					border-top:6px solid transparent;
					border-bottom: 6px solid transparent;
					z-index: 10;
				}
			}
		}

		.tab-btn {
			display: block;
			line-height: 40px;
			font-size: 12px;
			text-decoration: none;
			color: $text-color;
		}
		.legend-dot {
			margin-right: $margin-horizontal;
		}

		.employ-info {
			flex: 2 1;
			padding: $padding-vertical 0;
			overflow: auto;
			overflow-x: hidden;
			@extend %scroll-bar;
			.employ-info-ul {
				flex-wrap: wrap;
				justify-content: center;
			}
			.item {
				background-color: darken($chart-bg, 10%);
				border-radius: $radius-small-size;
				color: #fff;
				font-size: 12px;
				width: 100px;
				box-sizing: border-box;
				padding: 6px $padding-horizontal;
				margin: $margin-small-horizontal;
			}
			.user-icon,
			.timer-icon {
				vertical-align: baseline;
				margin-right: $margin-small-horizontal;
				&:before {
					color: #fff;
					font-size: 20px;
				}
			}
			.user-icon {
				@include icon-content('\e627');
			}
			.timer-icon {
				@include icon-content('\e617');
			}
		}
	}

	.car {
		$legend-wrap-height: $normal-size;

		flex: 2 1;
		position: relative;
		margin-right: $margin-horizontal;
		color: $text-color;
		line-height: $legend-wrap-height;
		.flex {
				justify-content: space-around;
		}
		.graph {
			position: absolute;
			top: $legend-wrap-height;
			left: 0;
			right: 0;
			bottom: 0;
		}
		.legend-dot {
			margin-right: $margin-small-horizontal;
		}
		.stop-legend {
			background-color: $car-stop-color;
		}
		.empty-legend {
			background-color: $car-empty-color;
		}
		.heavy-legend {
			background-color: $car-heavy-color;;
		}
		.task-legend {
			background-color: $car-task-color;
		}
	}

	.call {
		flex: 2 1;
	}
}

.leader-orders {


	.insert-info {
		text-align: left;	
		background-color: $brand-info; 
		padding: 10px 20px;
	}

	.order-info {
		display: flex;	
		margin-bottom: 10px;
		> li {
			width: 25%;	
		}

		.info-above {
			border-bottom: 1px dashed #ccc;	
		}

		.info-above,
	 	.info-below	{
			text-align: center;
			height: 24px;	
			line-height: 24px;
		}

	}

}

.leader-nav-bar {
	.immediate-reservation-toggle-btn {
		margin-right: 10px;
	}
}
