.police-page {
	.first-field{
		position: relative;	
	}
	.unhandle{
		position: absolute;
		top: 50%;
		left: 10px;
		width: 14px;
		height: 14px;
		margin-top: -7px;
		@extend %background-image;
		background-position:-27px -236px;
	}

	.table tr.selfSelected{
		background-color: $self-select-bg;	
		color:#fff;
	}

	.table tr.otherSelected{
		background-color: $other-select-bg;	
		color:#fff;
	}
}

//handle alarm
.handle-alram-dialog {
	@extend %font-family;
	position: absolute;

	.dialog-wrap {
		padding: $padding-vertical 0;
		overflow: hidden;
		background-color: $handle-bar-bg; 
	}

	.operate-btns {
		margin-left: $margin-horizontal;	
	}

	.operate-btn-li {
		margin-right: $margin-horizontal;	
	}

	.operate-btn,
	.submit-btn	{
		font-size: 12px;
		background-color: #ffe3ba;	
		color: #A66C18;
		padding: 0 10px;
		height: 20px;
		border: 0;
		&:active {
			background-color: darken(#ffe3ba, 10%);	
		}
	}

	.transfer-police-btn {
		background-color: $color-primary;	
		&:active {
			background-color: darken($color-primary, 10%);	
		}
	}

	.handle-form {
		font-size: 12px;
		color: #A66C18;	
		padding-right: 20px;
	}

	.field-li {
		line-height: 22px;
		margin-left: 16px;	
	}

	.field-select {
		vertical-align: middle;
	}

	.text-input {
		height: 20px;	
		width: 136px;
		padding: 0 6px;
	}

	.handle-info {
		margin-left: 30px;
		font-size: 12px;
		color: #A66C18;	
		padding-left: 20px;
	}
}

.handle-alram-dialog {
	.handle {
		.handle-info {
			font-size: 12px;
			color: #A66C18;	
			padding-left: 20px;
		}

		.operate-btns {
			padding-right: 20px;	
		}
	}
} 
