.represent-above {
	padding-right: $padding-horizontal;
	border-right: $border-main-size solid $border-main-color;
}

.represent-form-wrapper {
	margin-right: 4px;
	border: $border-main-size solid $border-main-color;
	border-left: 0;
	width: 610px;
	padding: 10px;

	.form-reduce {
		width: calc(50% - 4px);
	}

	.btn {
		width: 140px;	
	}
}


.represent-map {
	$nav-height: 30px;
	$map-view-height: ($normal-size + $margin-vertical) * 7 + $normal-size + $padding-vertical * 2  + $border-main-size - $nav-height;

	flex: 2 1;
	border-top: $border-main-size solid $border-main-color;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;

	.nav {
		height: $nav-height;	
		line-height: $nav-height;
	}

	.operate-btn-wrap {
		margin-left: $margin-large-horizontal;	
		.icon-btn {
			&:before {
				font-size: 18px;	
			}	
		}
		.zoom {
			@include icon-content('\e61f');	
		}
	}

	.map {
		background-color: $chart-bg;	
		height: $map-view-height;
	}
}

.represent-order-list {

	margin-top: 10px;
	padding: 10px 0 0 10px;
	border: $border-main-size solid $border-main-color;
	border-bottom: 0;
	border-right: 0;

	.search-bar {
		overflow: hidden;
		background-color: $color-third;
		padding: 6px 10px;
		margin-bottom: 10px;

		.toggle-btn {
			margin-right: 10px;	
		}

		.keywords-input {
			border-top-right-radius: 0;	
			border-bottom-right-radius: 0;
			border-right: 0;
		}

		button[type='submit'] {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			height: 34px;
			.icon-search {
				display: inline-block;	
			}
		}
	}

	.table {
		font-size: 12px;	
		table-layout: fixed;
	}
}

.represent-info-window {

	position: relative;
	background-color: #fff;
	border-radius: 4px;
	padding: $padding-vertical $padding-horizontal;

	.portrait {
		display: block;	
		margin-right: 6px;
		width: 40px;
		height: 40px;
		border: 1px solid #ccc;
		border-radius: 50%;
	}

	.info {
		font-size: 12px;	
		color: #777;
		line-height: 20px;

		.star {
			color: $color-primary;	
		}
	}

	&:before {
		content: '';	
		position: absolute;
		top: 100%;
		left: 50%;
		margin-left: -8px;
		border-top: 10px solid #fff;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
	}
}
