.seat-above {
	padding-right: $padding-horizontal;
	border-right: $border-main-size solid $border-main-color;
}

//# top left part
.seat-top-left{
	$seat-chart-width:			300px;
	$seat-chart-height:			($normal-size + $margin-vertical) * 5 - $margin-vertical;
	$input-large-width:			$layout-left-width - $normal-size - 5px - $padding-horizontal - $border-main-size - ($input-padding-horizontal + 1px) * 2;
	$input-long-width:			$input-large-width - $seat-chart-width - $margin-small-horizontal;

	@extend %font-family;
	position: relative;
	margin-right: $margin-small-horizontal;
	border: $border-main-size solid $border-main-color;
	border-left:0;
	width: $layout-left-width - $border-main-size;
	padding: $padding-vertical 0 $padding-vertical ($padding-horizontal + $border-main-size);
	
	.chart {
		$info-height: 24px;

		position: absolute;
		top: $padding-vertical;
		left: $padding-horizontal + $border-main-size;
		border:$border-small-size solid #fff;
		border-radius: $radius-small-size;
		background-color: $chart-bg;
		z-index: 10;
		height: $seat-chart-height - $border-small-size * 2;
		width: $seat-chart-width - $border-small-size * 2;
		.user-info {
			padding: $padding-vertical $padding-horizontal;
			color: $text-color;
			font-size: 12px;
		}
		.graph {
			width: 100%;
			height: $seat-chart-height - ($padding-vertical + $info-height + $border-small-size) * 2;
		}
		.justify {
			height: $info-height;
			line-height: $info-height;
			overflow: hidden;
		}
		.info-item{
			cursor: Default;
			display: inline-block;
		}
		.icon-img {
			font-size: 24px;	
		}
		.custom-type {
			@include icon-content('\e615');
		}
		.timer {
			@include icon-content('\e617');
		}
		.serial-number {
			@include icon-content('\e616');
		}
		.legend-dot {
			margin-right: $margin-small-horizontal;
		}
		.dot-order-count {
			background-color: $color-forth;
		}
		.dot-fuck-count {
			background-color: $color-fifth;
		}
	}

	.seat-field1 {
		padding-left: $seat-chart-width + $margin-small-horizontal;
	}
	.long-width {
		width: $input-long-width;
	}
	.large-width {
		width: $input-large-width;
	}
	.clickable {
		background-color: $color-primary;
	}
	.mobile-position {
		font-size: 12px;
		color: $color-primary;	
	}

	.sending {
	    background-color: $color-disabled;	
	    text-indent: 9999px;
	    background-image: url(../imgs/loading.gif);
	    background-position: center center;
	    background-repeat: no-repeat;
	    pointer-events: none;
	}

	.time-select {
		display: inline-block;
		border: 1px solid $input-border-color;
		height: $normal-size;
		line-height: $normal-size;
		box-sizing: border-box;
		border-radius: $radius-small-size;
		background-color: $select-bg;
		vertical-align: bottom;
		font-size: $input-text-font-size;
		color: $input-text-color;
		
		&.disabled {
			background-color: $input-text-disabled-bg;	
			color: $input-text-disabled-color;
		}

		.hour,
		.minute {
			display: inline-block;
			width: 28px;
			text-align: center;	
			cursor: Default;
		}
	}
	
	$wrap-width: $seat-chart-width - $normal-size - 5px;
	.cartype-selects {
		display: inline-block;
		width: $wrap-width;
		$select-width: ($wrap-width - 10px) / 3;
		.car-select {
			width: $select-width;
		}
		.price-select {
			width: $select-width;
		}

		.count-select {
			width: $select-width;
		}
	}

	.date-pickup-wrap {
		display: inline-block;	
		width: $wrap-width; 
		.input-calendar {
			width: $wrap-width - 62px - 5px - ($input-padding-horizontal + 1) * 2;	
		}
	}
}

.seat-top-form {
	.field-li {
		margin-bottom: $margin-vertical;
	}
	.icon-img-bg {
		&:before {
			font-size: $normal-size;	
		}
		background-color: #ccc;
	}

	.calling-label {
		@include icon-content('\e605');
	}
	.actual-label {
		@include icon-content('\e614');
	}
	.username-label {
		background-color: $color-primary;
		& {
			@include icon-content('\e618');
		}
	}
	
	.start-label {
		background-color: $color-forth;
		& {
			@include icon-content('\e622');
		}
	}

	.around-label {
		@include icon-content('\e626');
	}

	.destination-label {
		@include icon-content('\e623');
	}

	.reservation-label {
		@include icon-content('\e629');
	}

	.cartype-label {
		@include icon-content('\e61c');
	}

	.remark-label {
		@include icon-content('\e624');
	}

	.count-label {
		@include icon-content('\e62b');
	}
	.btn{
		width: 140px;
	}
}

//#####top right part
.seat-top-right {
	flex: 2 1;
	border-top: $border-main-size solid $border-main-color;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;

	$nav-height: 30px;
	.nav {
		height: $nav-height;
		line-height: $nav-height;	
	}

	.operate-btn-wrap {
		margin-left: $margin-large-horizontal;
		.icon-btn {
			&:before {
				font-size: 18px;	
			}	
		}
		.zoom {
			@include icon-content('\e61f');
		}
	}

	.map {
		height: ($normal-size + $margin-vertical) * 8 + $normal-size + $padding-vertical * 2  + $border-main-size - $nav-height;
		background-color: $chart-bg;
	}
}


// # below
.seat-bottom-left {

	$container-width:		350px;
	$car-icon-width:		60px;
	$car-icon-height:		47px;

	@extend %font-family;
	width: $container-width;
	border-left: $border-main-size solid $border-main-color;
	border-bottom: $border-main-size solid $border-main-color;
	padding: $padding-vertical $padding-horizontal;

	.car-status {

		background-color: $chart-bg;
		border-radius: $radius-large-size;
		margin-bottom: $margin-vertical;
		padding: $padding-large-vertical 0;
		font-size: 12px;
		.flex {
			justify-content: space-around;
		}
		.car-icon {
			width: $car-icon-width;
			height: $car-icon-height;
			@extend %background-image; 
			text-align: center;
			color: #fff;
			&.stop-icon {
				background-position:0 -41px;
			}
			&.empty-icon {
				background-position:0 -89px;
			}
			&.heavy-icon {
				background-position:0 -138px;
			}
			&.task-icon {
				background-position:0 -185px;
			}
		}
		.legend-wrap {
			color: $text-color;
			padding-top: $padding-vertical;
		}
		
		.legend-dot {
			margin-right: $margin-small-horizontal;
			&.stop {
				background-color: $car-stop-color;
			}
			&.empty {
				background-color: $car-empty-color;
			}
			&.heavy{
				background-color: $car-heavy-color;
			}
			&.task {
				background-color: $car-task-color;
			}
		}

	}
}

//# bottom right
.seat-bottom-right {

	$search-bar-height: 46px;
	$search-bar-tab-height: 40px;

	@extend %font-family;
	flex: 2 1;
	margin-top: $margin-vertical;
	padding:$padding-vertical 0 0 $padding-horizontal;
	border: $border-main-size solid $border-main-color; 
	border-bottom: 0;
	border-right: 0;
	.search-bar {
		height: $search-bar-height;
		line-height: $search-bar-height;
		overflow: hidden;
		background-color: $color-third;
		padding: 0 $padding-horizontal;
		.tabs {
			margin-top: ($search-bar-height - $search-bar-tab-height) / 2;
		}
		.tab {
			@include box-in-middle($search-bar-tab-height, 90px);
			text-decoration: none;
			color: #ccc;
			font-size: 14px;
			&.active {
				background-color: $color-secondary;
			}

			.icon-img-bg {
				border-radius: 50%;
				background-color: #ccc;
				height: 30px;
				width: 30px;
				line-height: 30px;
				vertical-align: middle;
				&:before {
					font-size: 30px;	
				}
				&.normal {
					@include icon-content('\e61a');
				}
				&.error {
					@include icon-content('\e619');
				}
			}
		}

		.search-input {
			@extend %text-input;
			min-height: 20px;
			border: 0;
		}
		.search-btn {
			width: $normal-size;
			height:	$normal-size;
			vertical-align: baseline;
			border-radius: 0;
			.icon-img {
				&:before {
					font-size: 16px;	
				}
				@include icon-content('\e61f');
			}
		}
		.search-select {
			@extend %select;
			width: 64px;
		}
		.tick-timer {
			background-color: $color-primary;
			color: #fff;
			@include box-in-middle($normal-size, 60px);
			margin-right: $margin-horizontal;
			font-size: 13px;
		}
		.toggle-btn {
			width: 40px;
			vertical-align: baseline;
			margin-right: $margin-large-horizontal;
		}
	}

	$order-content-height: 210px;
	$order-nav-bar-width:	64px;
	.order-content {
		font-size: 12px;
		color: $text-color;
		padding-top: $padding-vertical;
		height: $order-content-height;
	}

	.order-nav-var {
		width: $order-nav-bar-width;
		background-color: $color-third;
		margin-right: $margin-horizontal;
		.title {
			line-height: 30px;
			text-align: center;
			font-size: 16px;
		}
		.order-nav {
			margin-top: $margin-vertical;
		}
		.order-nav-li {
			text-align: right;
		}
		.nav-btn {
			&.active {
				background-color: $color-secondary;
			}
			text-decoration:none;
			@include box-in-middle($normal-size, 60px);
			color: $text-color;

		}
	}
	.order-table {
		flex: 2 1;
	}
}

.seat-order-operate {
	position: relative;	
	.operate-list {
		position: absolute;	
		bottom: 100%;
		margin-bottom: 2px;
		left: 0;
	}
	.operate-btn {
		text-decoration: none;
		display: inline-block;
		background: #DA8000;	
		color: #fff;
		@include box-in-middle($normal-size, 60px);
	}
	.operate-list-li {
		border-top: 1px solid #fff;	
		&:first-child {
			border-top: 0;	
		}
	}
}

.seat-operate-td {
	.show-more {
		color: #fff;	
		font-weight: bold;
		text-decoration: none;
	}
}

