body {
	font-family: $font-family;
}

.seat-top-left {
	.neworder-form {
		.btn {
			width: 140px;	
		}

		.selects-group {
			margin-right: 8px;
			select {
				width: 82px;	
			}
		}

		.calendar-input {
			width: 189px;	
		}
		.destination-input,
	 	.car-count-input	{
			width: 231px;	
		}

		.time-select-wrapper {
			margin-right: 8px;	
		}
	}	
}

.seat-top-left {
	padding: 10px 10px 10px (10px + $border-main-size);

	.chart {
		$info-height: 24px;

		position: absolute;
		top: 10px;
		left: 10px + $border-main-size;
		border: 4px solid #fff;
		border-radius: $radius-small-size;
		background-color: $chart-bg;
		z-index: 10;
		height: 182px;
		width: 292px;
		.user-info {
			padding: 10px;
			color: $text-color;
			font-size: 12px;
		}
		.graph {
			width: 100%;
			height: 104px;
		}
		.justify {
			height: $info-height;
			line-height: $info-height;
			overflow: hidden;
		}
		.info-item{
			cursor: Default;
			display: inline-block;
		}
		.icon-img {
			font-size: 24px;	
		}
		.custom-type {
			@include icon-content('\e615');
		}
		.timer {
			@include icon-content('\e617');
		}
		.serial-number {
			@include icon-content('\e616');
		}
		.legend-dot {
			margin-right: 4px;
		}
		.dot-order-count {
			background-color: $color-forth;
		}
		.dot-fuck-count {
			background-color: $color-fifth;
		}
	}

}





.seat-above {
	padding-right: $padding-horizontal;
	border-right: $border-main-size solid $border-main-color;
}

//# top left part
.seat-top-left{
	$seat-chart-width:			300px;
	$seat-chart-height:			($normal-size + $margin-vertical) * 5 - $margin-vertical;
	$input-large-width:			$layout-left-width - $normal-size - 5px - $padding-horizontal - $border-main-size - ($input-padding-horizontal + 1px) * 2;
	$input-long-width:			$input-large-width - $seat-chart-width - $margin-small-horizontal;

	@extend %font-family;
	position: relative;
	margin-right: $margin-small-horizontal;
	border: $border-main-size solid $border-main-color;
	border-left:0;
	width: $layout-left-width - $border-main-size;
	

	.seat-field1 {
		padding-left: $seat-chart-width + $margin-small-horizontal;
	}

	.clickable {
		background-color: $color-primary;
	}
	.mobile-position {
		font-size: 12px;
		color: $color-primary;	
	}

	.sending {
	    background-color: $color-disabled;	
	    text-indent: 9999px;
		 	background-image: url(/imgs/loading.gif);
	    background-position: center center;
	    background-repeat: no-repeat;
	    pointer-events: none;
	}

	
	$wrap-width: $seat-chart-width - $normal-size - 5px;

}

//#####top right part
.seat-top-right {
	flex: 2 1;
	border-top: $border-main-size solid $border-main-color;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;

	$nav-height: 30px;
	.nav {
		height: $nav-height;
		line-height: $nav-height;	
	}

	.operate-btn-wrap {
		margin-left: $margin-large-horizontal;
		.icon-btn {
			&:before {
				font-size: 18px;	
			}	
		}
		.zoom {
			@include icon-content('\e61f');
		}
	}

	.map {
		height: ($normal-size + $margin-vertical) * 8 + $normal-size + $padding-vertical * 2  + $border-main-size - $nav-height;
		background-color: $chart-bg;
	}
}


// # below
.seat-bottom-left {

	$container-width:		350px;
	$car-icon-width:		60px;
	$car-icon-height:		47px;

	@extend %font-family;
	width: $container-width;
	border-left: $border-main-size solid $border-main-color;
	border-bottom: $border-main-size solid $border-main-color;
	padding: $padding-vertical $padding-horizontal;

	.car-status {

		background-color: $chart-bg;
		border-radius: $radius-large-size;
		margin-bottom: $margin-vertical;
		padding: $padding-large-vertical 0;
		font-size: 12px;
		.flex {
			justify-content: space-around;
		}
		.car-icon {
			width: 60px;;
			height: 46px;
			text-align: center;
			color: #fff;
			background-repeat: no-repeat;
		}
		.legend-wrap {
			color: $text-color;
			padding-top: $padding-vertical;
		}
		
		.legend-dot {
			margin-right: $margin-small-horizontal;
			&.stop {
				background-color: $car-stop-color;
			}
			&.empty {
				background-color: $car-empty-color;
			}
			&.heavy{
				background-color: $car-heavy-color;
			}
			&.task {
				background-color: $car-task-color;
			}
		}

	}

}

//# bottom right
.seat-bottom-right {

	flex: 2 1;
	margin-top: 10px;
	padding:10px 0 0 10px;
	border: $border-main-size solid $border-main-color; 
	border-bottom: 0;
	border-right: 0;
	.search-bar {
		overflow: hidden;
		background-color: $color-third;
		padding: 6px 10px;

		.toggle-btn {
			margin-right: 10px;	
		}

		.keywords-input {
			border-top-right-radius: 0;	
			border-bottom-right-radius: 0;
			border-right: 0;
		}

		button[type='submit'] {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			height: 34px;
			.icon-search {
				display: inline-block;	
			}
		}
		.tab-btn {
			padding: 6px 15px;	
		}

		.average-label {
			margin-right: 8px;	
			line-height: 34px;
		}
	}

	.order-content {
		font-size: 12px;
		color: $text-color;
		padding-top: 10px;
		height: 210px;
	}

	.order-nav-var {
		position: relative;
		width: 76px;
		background-color: $color-third;
		margin-right: 10px;
		padding-left: 6px;
		padding-top: 36px;

		&:after {
			content: '状态';	
			position: absolute;
			top: 6px;
			left: 50%;
			transform: translateX(-50%);
			font-size: 16px;
			font-weight: bold;
			color: #888;
		}
	}

	.order-table {
		flex: 2 1;
	}

	.dropdown-menu {
		left: auto;	
		right: 0;
	}

	.table {
		table-layout: fixed;	
		th,
		td {
			text-align: center;	
		}
	}

	.relative {
		position: relative;	
		.popover {
			width: 200px;	
			left: auto;
			right: 0;
		}
	}
}

