<section class='call-status'>
	<div class='process process-hour'>
		<div class='current' style='width:{{hourRate}}%'><span>{{hour}}</span></div>
		<div class='info'><span>{{lastHour}}</span></div>
	</div>
	<div class='process process-day'>
		<div class='current' style='width:{{dayRate}}%'><span>{{day}}</span></div>
		<div class='info'><span>{{lastDay}}</span></div>
	</div>
	<ul class='flex legend'>
		<li><i class='legend-dot hour'></i><span>当前小时电召数量</span></li>
		<li><i class='legend-dot day'></i><span>当前天电召数量</span></li>
		<li><i class='legend-dot predict'></i><span>预计数量</span></li>
	</ul>
</section>