<section class='flex'>
	<nav class='nav'>
		<ul class='flex'>
			<li><a ng-href='{{appRoot}}/' class='btn-icon-large file-btn'></a></li>
			<li><a ng-href='{{appRoot}}/leader.htm' class='btn-icon-large file-search'></a></li>
			<li><a ng-href='{{appRoot}}/searchMore.htm' class='btn-icon-large police'></a></li>
			<li><a ng-href='{{appRoot}}/police.htm' class='btn-icon-large car-track'></a></li>
		</ul>
	</nav>

	<div class='call-operate'>
		<ul class='flex'>
			<li><span class='call-count'>24</span></li>
			<li><button class='btn-bg-icon call-btn'></button></li>
			<li><button class='btn-bg-icon transform-btn'></button></li>
			<li><button class='btn-bg-icon list-btn'></button></li>
		</ul>
	</div>

	<div class='status flex'>
		<ul class='flex'>
			<li><a href='javascript:;' class='sign-in' 
				ng-class='{active: isSignIn()}' 
				ng-click='toggleSign("signIn")'
				title='签入'></a></li>
			<li><a href='javascript:;' class='sign-out' 
				ng-class='{active: !isSignIn()}' 
				ng-click='toggleSign("signOut")'
				title='签出'></a></li>
		</ul>

		<div class='status-icon' title='{{currentStatusInfo}}'>
			<i
				ng-class='{calling: isCurrentActive("calling"), busy: isCurrentActive("busy"), reset: isCurrentActive("reset"), vain:isCurrentActive("vain"), signOut:!isSignIn()}'></i>
		</div>

		<div class='user-info-timer'>
			<div class='user-number'><i></i><span>{{username}}</span></div>
			<div class='timer'><i></i><span>{{currentTimer}}</span></div>
		</div>

		<div class='status-btns'>
			<button
				title='{{firstBtnTitle}}'
				ng-class='{reset:!isFirstBtnVain(), calling:isFirstBtnVain(), disabled:!isSignIn()||isSecondBtnVain()}'
				ng-click='toggleFirstBtn()'></button>
			<button 
				title='{{secondBtnTitle}}'
				ng-class='{busy: !isSecondBtnVain(), calling:isSecondBtnVain(), disabled: !isSignIn()||isFirstBtnVain()}'
				ng-click='toggleSecondBtn()'></button>
		</div>
	</div>

</section>

<section class='flex info-bar'>
	<div class='info-left'><span>1.一切正常.</span></div>
	<div class='info-right'><span>每天一笔，立减3元；司机满3笔奖8元，满6笔再奖8元，满10笔再奖30元，可累计</span></div>
</section>
