<div class="modal-header">
	<h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
	<span ng-hide='hasInput'>{{content}}</span>
	<div ng-show='hasInput' class='form-group'>
		<label for='quanInput1'>{{content}}</label>
		<input 
			type='text' 
			class='form-control'
			id='quanInput1'
			ng-model='input'/>
	</div>
</div>
<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="ok()">确定</button>
		<button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
</div>
