.pagination {
	height: $pagination-height;
	overflow: hidden;
	li {
		float: left;
	}
	a {
		text-decoration: none;
		@include box-info($pagination-link-width, $pagination-link-height);
		color: $color-text;
		i {
			display: inline-block;
			width: 6px;
			height: 12px;
			background-image: url(../imgs/pagination.png);
		}
		&.active {
			color: #fff;
			background: $color-primary;
			border-radius: $radius-base;
			cursor: Default;
		}
	}
	.next,
	.prev {
		width: 28px;
		height: 28px;
		border: 1px solid $color-primary;
		line-height: 30px;
		border-radius: $radius-base;
	}
	.next {
		i {
			background-position: -15px 0
		}
	}
	.page {
		margin: ($pagination-height - $pagination-link-width)/2 $margin-small-horizontal 0 $margin-small-horizontal;
	}
	.disabled {
		border-color: $disabled-color;
  		cursor: Default;
	}
}
