.address-list {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff;
	border: 1px solid #000;
	z-index: 50;
	.link {
		text-decoration: none;
		color: $text-default-color;
		display: block;
		height: 20px;
	 	line-height: 20px;
	  	padding: 0 $padding-small-horizontal;
	  	font-size: $font-small-size;
	  	@extend %font-ms;
	  	&:hover,
	  	&.active {
	  		background-color: $color-default;
	  	}
	}
}