.address-list {
	@extend %font-family;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff;
	border: 1px solid #999;
	z-index: 50;
	.link {
		text-decoration: none;
		color: $text-color;
		display: block;
		height: 20px;
	 	line-height: 20px;
	  	padding: 0 $padding-small-horizontal;
	  	font-size: 12px;
	  	&:hover,
	  	&.active {
	  		background-color: #ccc;
	  	}
	}
}
