.assign-dialog {
	position: absolute;
	top: 40%;
	left: 50%;
	width: 240px;
	margin-left: -120px;
	box-shadow: 0 0 3px rgba(0, 0, 0, .2);
	border-radius: $radius-base;
	font-size: $font-default-size;
	z-index: 1000;
	@extend %font-ms;
	.title {
		line-height: $height-base;
		background-color: $color-default;
		color: #fff;
		padding-left: $padding-base-horizontal;
		font-size: $font-default-size;
	}
	.content {
		padding:$padding-large-vertical $padding-base-horizontal;
		background-color:#fff;
		.input-normal {
			width: 100%;
			box-sizing: border-box;
		}
	}
	.btns {
		margin-top: $margin-base-vertical;
		text-align: center;
	}
	.btn {
		width: 60px;
		height: $btn-default-height;
		color: #fff;
		border: 0;
		line-height: $btn-default-height;
		border-radius: $btn-default-radius;
		font-size: $font-default-size;
		@extend %font-ms;
	}
	.ensure {
		background-color: $color-primary;
		&:active {
			background-color: #D79A44;
		}
	}
}