.btn-normal{
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	cursor: pointer;
	border: 1px solid transparent;
	white-space: nowrap;
	text-decoration: none;
	background-color: $btn-default-bg;
	color: $btn-default-color;
	border-radius: $radius-base;
	vertical-align: top;
	font-size: $font-default-size;
	&:hover {
		text-decoration: none;
	}
	&:hover {
		background-color: $btn-hover-bg;
	}
	&:active {
		background-color: $btn-active-bg;
	}
	&.disabled,
	&[disabled] {
		cursor: $cursor-disabled;
		pointer-events: none;
		@include opacity;
	}
	@extend %font-ms;
}

.btn-icon-base {
	@include icon-btn($icon-base-size);
}

.btn-icon-large {
	@include icon-btn($icon-large-size);
}

.btn-icon-small {
	@include icon-btn(18px);
}

.btn-bg-icon {
	@include icon-bg-btn($icon-large-size);
}


.btn-block {
	display: block;
	width: 100%;
}