.call-status {
	$hour-color:#97c255;
	$day-color: #ff9663;
	$predict-color: darken($chart-bg, 10%);
	$process-height: 28px;
	$process-chart-width: 288px;
	$process-hour-width: 160px;
	$process-day-width: 240px;

	@extend %font-family;
	font-size: 12px;
	color: $text-color;
	background-color: $color-third;
	border-radius: $radius-large-size;
	padding: $padding-large-vertical $padding-horizontal;

	.flex {
		justify-content: space-around;
	}

	.legend-dot{
		margin-right: $margin-small-horizontal;
		&.hour {
			background-color: $hour-color;
		}
		&.day {
			background-color: $day-color;
		}
		&.predict {
			background-color: $predict-color;
		}
	}

	.process-chart {
	    width: $process-chart-width;
	    margin: 0 auto;	    
	}

	.process {
		position: relative;
		background: $predict-color;
		height: $process-height;
		margin-bottom: 24px;
		border-radius: $radius-large-size 0 0 $radius-large-size;
		.current {
			position: relative;
			height: 100%;
			border-radius: $radius-large-size 0 0 $radius-large-size;
			.overflow {
			    position: absolute;
			    top: 0;
			    right: 0;
			    height: 100%;	    
			    background: rgba(0,0,0,.2);
			}
		}

		.info {
			position: absolute;
			text-align: center;
			width: 100%;
			top: 100%;
			left: 0;
			line-height: 16px;
			border-left: 1px solid #ccc;
			border-right: 1px solid #ccc;
			box-sizing: border-box;
			&:after {
				content: '';
				position: absolute;
				width: 100%;
				height: 1px;
				top: 50%;
				left: 0;
				background: #ccc;
			}
			.text {
				position: relative;
				display: inline-block;
				padding: 0 4px;
				z-index: 10;
				background: $chart-bg;
				text-align: center;
			}
		}
	}
	.process-hour {
		width: $process-hour-width;
		.current {
			background-color: $hour-color;
		}
	}
	.process-day {
		width: $process-day-width;
		.current {
			background-color: $day-color;
		}
	}
	.day-process-wrapper {
	    position: relative;
	}
	.hour-process-wrapper {
	    position: relative;
	}
	.text-info {
		position: absolute;
		color: #fff;
		top: 50%;
		left: 50%;
		z-index: 10;
		transform: translate(-50%, -50%);
	}
}
