

.calendar {

	$calendar-width: 300px;
	$grid-size: 28px;


	font-family: $font-family;
	font-size: 12px;
	position: absolute;
	z-index: 20;
	background: #fff;
	width: $calendar-width;
	box-sizing: border-box;
	.calendar-header {
		background: $color-primary;		
		color: #fff;
		overflow: hidden;
		@include vertical-centre($grid-size);
		.fa {
			font-style: normal;	
			cursor: pointer;
			font-weight: bold;
		}
		.fa-angle-left {
			float: left;	
			margin-left: $margin-horizontal;
		}
		.fa-angle-right {
			float: right;	
			margin-right: $margin-horizontal;
		}
	}
	.week {
		overflow:hidden;
		&.names .day{
			color: $color-primary;
		}
		.day {
			float: left;
			width: (100%/7);
			box-sizing: border-box;
			border: 1px solid #ccc;
			border-left:0;
			border-top:0;
			&:first-child {
				border-left: 1px solid #ccc;	
			}
			background: #fff;
			cursor: pointer;
			color: $text-color;	
			display: inline-block;
			@include vertical-centre($grid-size);

			&.today {
				background: #E3F2FF;	
			}

			&.different-month {
				color: #c0c0c0;	
			}

			&.selected {
				background: $color-primary;	
				color: #fff;
			}
		}	
	}
}

