.message-box {
	font-family: $font-family;
	position: absolute;
	background-color:#fff;
	border: 1px solid #ccc;
	border-radius: $radius-large-size;
	overflow: hidden;
	top: 20%;
	left: 50%;
	transform:translateX(-50%);
	z-index: 1001;

	.box-title {
		height: 32px;
		line-height: 32px;	
		background-color: $color-primary;
		color: #fff;
		font-size: 14px;
		padding-left: $padding-large-horizontal;
		font-weight: bold;
	}

	.box-container {
		padding: $padding-large-vertical $padding-large-horizontal;	
	}

	.message-input-wrap {
		margin-bottom: $margin-vertical;	
	}

	.message-label {
		font-size: 13px;		
		color: $text-color;
	}

	.message-box-btns {
		text-align: center;
	}

	.message-box-ensure {
		background-color: $color-primary;	
		&:hover {
			background-color: darken($color-primary, 10%);	
		}
	}
	.message-box-ensure,
	.message-box-cancel {
		width: 60px;
	}
}
