.order-step {
	position: absolute;
	font-size: $font-default-size;
	@extend %font-ms;
	color: $text-default-color;
	.step {
		padding: $padding-base-vertical 70px;
		background-color: #fbf2de;
		ul {
			position: relative;
			&:before {
				content: '';
				position: absolute;
				top: 50%;
				width: 100%;
				left: 0;
				border-bottom: 1px dashed  $color-default;
			}
		}
		li {
			position: relative;
			flex: 2 1;
			text-align: center;
			line-height: $height-base;
			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				width: $dot-default-width;
				height: $dot-default-height;
				margin-left: -$dot-default-width;
				margin-top: -$dot-default-height;
				background: $color-default;
				border: $border-base-width solid #fbf2de;
				border-radius: 50%;
				z-index: $zindex-base;
			}
		}
	}

	.btns {
		padding: $padding-base-vertical 0;
		background-color: #fffaf1;
		text-align: center;
		button {
			height: 24px;
			width: 80px;
			color: #fff;
			background-color:  $color-primary;
			border: 0;
			border-radius: $btn-default-radius;
			&:active {
				background-color: #D79A44;
			}
		}
	}
}