.pagination {
	$pagination-height: 28px;

	height: $pagination-height;
	overflow: hidden;
	.btn-li {
		float: left;
		height: $pagination-height;
		line-height: $pagination-height;
	}
	.pagination-btn {
		text-decoration: none;	
		color: $text-color;
		font-size: 14px;
		display: inline-block;
		&.disabled {
			cursor: Default;	
		}
	}
	
	.page-btns {
		margin: 0 $margin-small-horizontal;	
	}

	.prev,
	.next {
		@include box-in-middle($pagination-height, $pagination-height);	
		box-sizing: border-box;
		border: 1px solid $color-primary;
		border-radius: $radius-small-size;
		&.disabled {
			border-color: #ccc;	
		}
	}

	.prev-icon {
		display: inline-block;
		width: 6px;
		height: 12px;
		background-image: url(../assets/imgs/pagination-prev-icon.png);
	}

	.next-icon {
		display: inline-block;
		width: 6px;
		height: 12px;
		background-image: url(../assets/imgs/pagination-next-icon.png);
	}
	
	.page-btn {
		@include box-in-middle(20px, 20px);
		border-radius: $radius-small-size;	
		&.active {
			background-color: $color-primary;	
			color: #fff;
			cursor: Default;
		}
	}
}
