.table {
	@extend %font-ms;
	width: 100%;
	color: $color-text;
	font-size: $font-small-size;
	table-layout: fixed;
	thead {
		background: $chart-bg;
		th {
			height: $height-base;
			text-align: center;
			font-weight: bold;
		}
	}

	tbody {
		background-color: $bg-body;
		tr {
			border-bottom: 1px dashed $color-default;
			&:hover,
			&.active {
				color: #fff;
				background-color: $color-primary;
			}

		}
		td {
			text-align: center;
			height: $height-base;
		}
	}

}