.time-item-select {
	position: absolute;
	z-index: 200;
	border: 1px solid #ccc;
	width: 24px * 6;
	background-color: #fff;
	.time-number {
		display: inline-block;	
		width: 24px;
		height: 24px;
		line-height: 24px;
		text-align: center;
		font-size: 12px;
		color: $text-default-color;
		cursor: Default;
		&:hover {
			background-color: $color-primary;	
			color: #fff;
		}
	}
}
