.time-item-select {
	
	$grid-size: 24px;

	position: absolute;
	z-index: 200;
	border: 1px solid #ccc;
	width: $grid-size * 6;
	background-color: #fff;
	.time-number {
		@include box-in-middle($grid-size, $grid-size);
		font-size: 12px;
		color: $text-color;
		cursor: Default;
		&:hover {
			background-color: $color-primary;	
			color: #fff;
		}
	}
}
