@mixin form-icons() {
	background-image: url(../imgs/form-icons.png);
	background-repeat: no-repeat;
}

@mixin bg-car-status() {
	background-image: url(../imgs/car-status.png);
	background-repeat: no-repeat;
}

@mixin background-image() {
	background-image: url(../imgs/icons.png);
	background-repeat: no-repeat;
}
