%icon-font {
	display: inline-block;
	&:before {
		text-transform: none;
		font-weight: normal;
		font-style: normal;
		font-variant: normal;
		font-family: 'iconfont';
		line-height: 1;
		speak: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

@mixin icon-radius() {
	@extend %icon-font;
	width: $label-base-width;
	height: $label-base-height;
	border-radius: 50%;
	line-height: $label-base-height;
	margin-right: $margin-small-horizontal;
	&:before {
		font-size: $label-base-width;
	}
	@content;
}

@mixin icon-btn($size) {
	text-decoration: none;
	color: $btn-default-bg;
	&:before {
		font-size: $size;
	}
	&:hover {
		color: $btn-hover-bg;
		text-decoration: none;
	}
	&:active {
		color: $btn-active-bg;
	}
	@extend %icon-font;
}

//button
@mixin icon-bg-btn($size) {
	background-color: $btn-default-bg;
	color: #fff;
	border: none;
	border-radius: $radius-base;
	box-shadow: inset 0 0 6px rgba(0,0,0,.1);
	&:before {
		font-size: $size;
	}
	&:hover {
		background-color: $btn-hover-bg;
	}
	&:active {
		background-color: $btn-active-bg;
	}
	@extend %icon-font;
}



@mixin icon-label($size) {
	color: #fff;
	vertical-align: top;
	& > i:before {
		font-size: $size;
		@extend %icon-font;
	}
}

@mixin icon-bg($size, $color) {
	color: $color;
	line-height: $size;
	& > i {
		@extend %icon-font;
		&:before {
			font-size: $size;
		}
	}
}


//########################
@mixin icon-content($content) {
	&:before {
		content: $content;
	}
}


