%icon-font {
	display: inline-block;
	&:before {
		text-transform: none;
		font-weight: normal;
		font-style: normal;
		font-variant: normal;
		font-family: 'iconfont';
		line-height: 1;
		speak: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

//########################
@mixin icon-content($content) {
	&:before {
		content: $content;
	}
}


