@mixin size($width, $height) {
	width: $width;
	height: $height;
}

@mixin square($size) {
	@include size($size, $size);
}

@mixin border-box($width, $height) {
	box-sizing: border-box;
	@include size($width, $height);
}