.header {

	@extend %font-family;
	padding: 0 $padding-horizontal $padding-large-vertical;
	border-left: $border-main-size solid $border-main-color;
	border-right: $border-main-size solid $border-main-color;

	.nav,
	.status, 
	.call-operate {
		padding: 6px $padding-horizontal;
	}

	.nav {
		.icon-btn {
			&:before {
				font-size: $icon-btn-large-size;	
			}	
		}
		width: $layout-left-width; 
		box-sizing: border-box;
		border: $border-small-size solid #fff;
		border-top: 0px;
		border-right: 0px;
		border-bottom-left-radius: $radius-small-size;
		.file-btn {
			@include icon-content('\e604');
		}

		.search-btn {
			@include icon-content('\e603');
		}
		.police-btn {
			@include icon-content('\e601');
		}
		.track-btn {
			@include icon-content('\e602');
		}
		.listen-btn {
			@include icon-content('\e61e');
		}
	}

	.call-operate {
		flex:2 1;
		border: $border-small-size solid #fff;
		border-top: 0;
		border-right: 0;
		.call-count {
			font-size: 20px;
			font-weight: bold;
			background: $color-primary;
			color: #fff;
			border-radius: $radius-small-size;
			@include box-in-middle($icon-btn-large-size, $icon-btn-large-size);
		}

		.icon-btn-bg {
			margin-left: $margin-horizontal;
			&:before {
				font-size: $icon-btn-large-size;	
			}	
		}

		.call-btn {
			@include icon-content('\e605');
		}

		.transform-btn {
			@include icon-content('\e606');
		}

		.list-btn{
			@include icon-content('\e607');
		}
	}

	.status {
		flex:2 1;
		border: $border-small-size solid #fff;
		border-top: 0px;
		border-bottom-right-radius: $radius-small-size;
		.sign-state {
			display: inline-block;
			width: 32px;
			height: 33px;
			margin: 4px 6px 0;
			background-image: url(../assets/imgs/sign-out.png);
		}
		.sign-in {
			background-image: url(../assets/imgs/sign-in.png);
		}
		.sign-out {
		}

		.exit-btn {
			&:before {
				font-size: $icon-btn-large-size;
				color: $color-forth;
			}
			@include icon-content('\e610');
		}

		.user-info-timer {
			font-size: 12px;
			margin-left: 20px;
			line-height: 20px;			  
		}

		.username {
			color: $color-primary;
			.icon-img {
				@include icon-content('\e627');
				&:before {
					font-size: 16px;
				}	
			}
		}

		.timer {
			color: #ccc;
			.icon-img {
				@include icon-content('\e612');
				&:before {
					font-size: 16px;	
				}
			}
		}

	}

	.status-icon {

		@include box-in-middle($icon-btn-large-size, $icon-btn-large-size);
		background-color: #eee;
		color: #ccc;
		border-radius: $radius-small-size;
		margin-left: $margin-horizontal;

		.current-state {
			vertical-align: middle;	
			&:before {
				font-size: 32px;	
			}
			&.rest {
				@include icon-content('\e60f');
			}
			&.busy {
				@include icon-content('\e60e');
			}
			
			&.free {
				@include icon-content('\e60d');
			}

			&.calling {
				@include icon-content('\e60c');
			}

			&.signOut {
				@include icon-content('\e60d');
			}
		}

		&.signIn {
			background-color: #f95059;	
			color: #fff;
		}
	}

	.status-btns {
		margin-left: $margin-horizontal;
		.icon-btn {
			color: $color-primary;
			&.disabled {
				cursor: Default;	
				color: $color-disabled;
			}
			&:before {
				font-size: $icon-btn-large-size;	
			}		
		}
		.rest {
			@include icon-content('\e60f');
		}
		.busy {
			@include icon-content('\e60e');
		}
		.calling {
			@include icon-content('\e60d');
		}
	}
}

// info bar
.header {
	.info-bar {
		margin-top: $margin-vertical;
		.info-left,
		.info-right {
			position: relative;
			background-color: $color-primary;
			border-radius: $radius-large-size;
			height: 30px;
			line-height: 30px;
			font-size: 14px;
			color: #fff;
			padding:0 $padding-horizontal;
			overflow: hidden;
		}
		.info-left {
			width: $layout-left-width;
			box-sizing: border-box;
			margin-right: $margin-small-horizontal;
		}
		.info-right {
			flex: 2 1;
		}
		.scroll-info {
			position: absolute;	
			top: 0;
			animation: scrollInfo 15s infinite;
			-webkit-animation: scrollInfo 15s infinite;
		}
	}
}

@keyframes scrollInfo {
	0% {left: -10%;}
	100% {left: 100%;}
}
@-webkit-keyframes scrollInfo {
	0% {left: -10%;}
	100% {left: 100%;}
}
