<div class='login-page'>
	<div class='login-box'>
		<div class='login-form-wrapper'>
			<form class='login-form' ng-submit='login()'>
				<div class='input-wrapper'>
					<input 
						type='text' 
						class='login-input username-input'
						placeholder='工号'
						ng-required='true'
						ng-model='username'/>
				</div>
				<div class='input-wrapper'>
					<input 
						type='password'
						class='login-input password-input'
						placeholder='密码'
						ng-required='true'
						ng-model='password'/>
				</div>
				<div class='some-error'><span>{{errorInfo}}</span></div>
				<div class='btn-wrapper'>
					<button class='login-btn'>登录</button>
				</div>
			</form>
		</div>
		<div class='shadow'></div>
	</div>
</div>
