<div class='login-page'>
	<div class='login-box'>
		<div class='login-form-wrapper'>
			<form class='login-form' ng-submit='login()'>
				<input 
					type='text' 
					class='form-control username-input'
					placeholder='工号'
					autofocus
					ng-required='true'
					ng-model='username'/>
				<input 
					type='password'
					class='form-control password-input'
					placeholder='密码'
					ng-required='true'
					ng-model='password'/>
				<div class='alert alert-danger' ng-show='hasErrorMessage'>
					{{errorInfo}}
				</div>
				<button class='btn btn-primary btn-block'>登录</button>
			</form>
		</div>
	</div>
</div>
