<section class='list-page police-page'>

	<div class='search-nav-bar clearfix'>
		<form ng-submit='searchOrder()' class='form-inline fl'>
			<div class='form-group'>
				<input 
					type='text' 
					class='form-control keywords-input'
					ng-model='keywords'/>
			</div><button class='btn btn-primary search-btn' type='submit'><i class='icon-search'></i></button>
		</form>


		<ul class='nav nav-pills fr'>
			<li ng-class='{active: isAllOrderTab()}'>
				<a
					href='javascript:;'
					class='tab-btn'
					ng-click='cutAllOrderTab()'>全部
					<span class='badge'>{{getAllOrderTotal()}}</span></a>
			</li>
			<li ng-class='{active: isUnhandleOrderTab()}'>
				<a
					href='javascript:;'
					class='tab-btn'
					ng-click='cutUnhandleOrderTab()'>未处理
					<span class='badge'>{{getUnhandleOrderTotal()}}</span></a>
			</li>
			<li ng-class='{active: isHandleOrderTab()}'>
				<a
					href='javascript:;'
					class='tab-btn'
					ng-click='cutHandleOrderTab()'>已处理
					<span class='badge'>{{getHandleOrderTotal()}}</span></a>
			</li>
		</ul>

	</div>

	<div class='orders-wrapper'>
		<div class='orders-table'>
			<div class='table-wrapper'>
				<table class='table table-condensed table-hover'>
					<thead>
						<tr>
							<th>报警类型</th>
							<th>报警时间</th>
							<th>报警车辆</th>
							<th>状态</th>
							<th>司机姓名</th>
							<th>司机电话</th>
							<th>终端电话</th>
							<th>终端编号</th>
							<th>结案备注</th>
							<th>分公司</th>
							<th>车辆位置</th>
						</tr>
					</thead>
					<tbody>
						<tr 
							ng-repeat='item in orders'
							handle-alarm-order='item'
							operator='{{item.opName}}'
							time-transfered='{{item.timeTransfered}}'
							ng-class='{active: item.isActive, info: item.hasSelfSelected(), danger: item.hasOtherSelected()}'>
							<td class='first-field'>
								<i ng-class='{"icon-warn": (item.status === 1)}'></i>
								<span>{{item.rTypeLabel}}</span>
							</td>
							<td class='ellipsis'>{{item.timeCreated}}</td>
							<td class='ellipsis'>{{item.vehicleNumber}}</td>
							<td class='ellipsis'>{{item.oemStatus}}</td>
							<td class='ellipsis'>{{item.driverName}}</td>
							<td class='ellipsis'>{{item.driverMobile}}</td>
							<td class='ellipsis'>{{item.terminalMobile}}</td>
							<td class='ellipsis'>{{item.terminalCode}}</td>
							<td class='ellipsis'>{{item.note}}</td>
							<td class='ellipsis'>{{item.corpName}}</td>
							<td class='ellipsis'>{{item.poi}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<uib-pagination 
			class='pagination'
			total-items='orderItemCount' 
			ng-model='currentOrderPage' 
			ng-change='pageChanged()'
			max-size='10'
			previous-text='&lsaquo;' 
			next-text='&rsaquo;' 
			first-text='&laquo;' 
			last-text='&raquo;'
			></uib-pagination>
	</div>
</section>
