<section class='represent-above flex'>
	<div class='represent-form-wrapper' listen-call>
		<form name='newOrder' class='represent-form neworder-form' ng-submit='addOrderFromForm()'>

			<div class='form-inline'>
				<div class='form-group form-reduce'>
					<label class='label-sm-icon'><i></i></label>
					<input
						type='text'
						class='form-control input-sm input-residue-width'
						disabled='disabled'
						placeholder='叫车人电话号码'
						ng-required='true'
						ng-model='orderData.callPhone'
					/>
				</div>
				<div class='form-group form-reduce'>
					<label class='label-sm-icon'><i></i></label>
					<input
						type='text'
						class='form-control input-sm input-residue-width'
						placeholder='叫车人姓名'
						ng-model='orderData.callName'
						ng-required='true'
					/>
				</div>
			</div>

			<div class='form-inline'>
				<div class='form-group'>
					<label class='label-sm-icon'><i></i></label>
					<input
						type='text'
						class='form-control input-sm'
						placeholder='联系人电话号码'
						ng-model='orderData.contactPhone'
						ng-required='true'
					/>
				</div>

				<div class='form-group'>
					<label class='label-sm-icon'><i></i></label>
					<input
						type='text'
						class='form-control input-sm'
						placeholder='联系人姓名'
						ng-model='orderData.contactName'
					/>
				</div>

				<div class='form-group'>
					<input 
						type='radio' 
						name='gender' 
						class='gender-radio' 
						id='femaleSelect'
						ng-model='orderData.gender'
						value='1'/>
					<label class='female' for='femaleSelect'></label>
					<input 
						type='radio' 
						name='gender' 
						class='gender-radio input-normal-width' 
						id='maleSelect'
						ng-model='orderData.gender'
						value='2'/>
					<label class='male' for='maleSelect'></label>
				</div>
			</div>

			<div class='form-inline'>
				<label class='label-sm-icon'><i></i></label>
				<input
					type='text'
					class='form-control input-sm input-residue-width'
					placeholder='出发位置'
					ng-model='orderData.startPoint'
					words-place='orderData.startPoint'
					start-list='orderData.poiList'
					ng-required='true'
				/>
			</div>

			<div class='form-inline'>
				<label class='label-sm-icon'><i></i></label>
				<input
					type='text'
					class='form-control input-sm input-residue-width'
					placeholder='出发地描述'
					ng-model='orderData.startPointDesc'
				/>
			</div>

			<div class='form-inline'>
				<label class='label-sm-icon'><i></i></label>
				<input
					list='representDestination'
					class='form-control input-sm input-residue-width'
					placeholder='目的地'
					ng-required='true'
					ng-model='orderData.destination'
					ng-required='true'
				/>
			</div>

			<div class='form-inline'>
				<label class='label-sm-icon'><i></i></label>
				<input
					type='text'
					class='form-control input-sm input-residue-width'
					placeholder='目的地描述'
					ng-model='orderData.destinationDesc'
				/>
			</div>

			<div class='form-inline'>
				<div class='form-group'>
					<input 
						type='checkbox' 
						id='reservationBox' 
						class='checkbox-in-label'
						ng-model='orderData.isReserved'
						/>
					<label class='label-sm-icon' for='reservationBox'></label>
				</div>

				<div class='form-group'>
					<input 
						type='text' 
						class='form-control input-sm'
						ng-disabled='!orderData.isReserved'
						ng-model='orderData.reservedDate'
						/>
				</div>

				<div class='form-group'>
				</div>

				<div class='form-group'>
					<label class='label-sm-icon'><i></i></label>
						<input 
							type='text'	
							class='form-control input-sm'
							placeholder='人数'
							ng-model='orderData.number'
							/>
				</div>
			</div>

			<div class='text-center'>
				<button class='btn btn-primary' type='submit'>保存</button>
				<button class='btn btn-warning' type='button' ng-click='initOrderData()'>取消</button>
			</div>
		</form>
	</div>

	<div class='represent-map'>
		<nav class='nav'>
			<ul class='flex'>
				<li class='operate-btn-wrap'>
					<a href='javascript:;' class='icon-btn zoom'></a>
				</li>
				<li class='operate-btn-wrap'>
					<a href='javascript:;' class='icon-btn zoom'></a>
				</li>
				<li class='operate-btn-wrap'>
					<a href='javascript:;' class='icon-btn zoom'></a>
				</li>
			</ul>
		</nav>
		<represent-map />
	</div>
</section>

<section class='represent-order-list'>
	<div class='search-bar clearfix'>
		<form ng-submit='searchOrder()' class='form-inline fr'>
			<div class='form-group'>
				<input 
					type='text' 
					class='form-control keywords-input'
					ng-model='searchKeywords'/>
			</div><button class='btn btn-primary search-btn' type='submit'><i class='icon-search'></i></button>
		</form>
	</div>
	<div class='order-list'>
		<table class='table table-condensed table-hover'>
			<thead>
				<tr>
					<th>订单编号</th>
					<th>用车时间</th>
					<th>乘客</th>
					<th>乘客号码</th>
					<th>乘客地址</th>
					<th>目的地</th>
					<th>即时/预约</th>
					<th>订单状态</th>
					<th>驾驶员姓名</th>
					<th>驾驶员号码</th>
					<th>状态</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat='item in orders'
						ng-if='$index < 6'>
					<td>{{item.sn}}</td>
					<td class='ellipsis' title='{{item.timeCreated}}'>{{item.timeCreated}}</td>
					<td>{{item.contactName}}</td>
					<td>{{item.contactPhone}}</td>
					<td class='ellipsis' title='{{item.startPoint}}'>{{item.startPoint}}</td>
					<td class='ellipsis' title='{{item.destination}}'>{{item.destination}}</td>
					<td>{{item.immediateOrReservation}}</td>
					<td class='some-list-before'>{{item.statusLabel}}</td>
					<td colspan='4'>
						<table class='inner-table'>
							<colgroup>
								<col class='i-col1'>
								<col class='i-col2'>
								<col class='i-col3'>
								<col class='i-col4'>
							</colgroup>
							<tr ng-repeat='inner in item.assignedList'>
								<td>{{inner.name}}</td>
								<td>{{inner.mobile}}</td>
								<td>{{inner.statusLabel}}</td>
								<td>
									<button
										ng-hide='inner.noHandlerBtn'
										confirm-dialog
										box-ctrl='representCtrl'
										message-box='乘客违约'
										input-show='true'
										label-name='理由'
										ensure-fn='passengerFuck(inner, input)'
										>乘客违约</button>
									<button
										ng-hide='inner.noHandlerBtn'
										confirm-dialog
										box-ctrl='representCtrl'
										message-box='司机违约'
										input-show='true'
										label-name='理由'
										ensure-fn='driverFuck(inner, input)'
										>司机违约</button>
									<button
										ng-click='queryTrack(inner.id)'
										>轨迹</button>
								</td>
							</tr>
						</table>	
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>
