<section class='search-page list-page'>

	<div class='search-nav-bar'>
		<form ng-submit='searchOrder()'>
			<div class='form-inline fields-above'>
				<div class='form-group'>
					<input 
						type='text' 
						class='form-control input-sm'
						placeholder='出发位置'
						ng-model='order.startPosition'/>
				</div>
				<div class='form-group'>
					<input 
						type='text' 
						class='form-control input-sm'
						placeholder='目的地'
						ng-model='order.destination'/>
				</div>
				<div class='form-group'>
					<input 
						type='text' 
						class='form-control input-sm'
						placeholder='车牌号码'
						ng-model='order.carPlate'/>
				</div>
				<div class='form-group'>
					<input 
						type='text' 
						class='form-control input-sm'
						placeholder='联系电话'
						ng-model='order.concatPhone'/>
				</div>
				<div class='form-group'>
					<input 
						type='text' 
						class='form-control input-sm'
						placeholder='操作员姓名'
						ng-model='order.operatorName'/>
				</div>
				<div class='form-group'>
					<input 
						type='text' 
						class='form-control input-sm'
						placeholder='订单号码'
						ng-model='order.orderNumber'/>
				</div>
			</div>
			<div class='form-inline fields-below'>
				<div class='form-group'>
					<label>状态</label>
					<select 
						class='form-control input-sm' 
						ng-model='order.orderStatus' 
						ng-init='order.orderStatus = orderStatuses[0]'
						ng-options='option.nameZh for option in orderStatuses'>
					</select>
				</div>
				<div class='form-group'>
					<label>类型</label>
					<select 
						class='form-control input-sm' 
						ng-model='order.orderType' 
						ng-init='order.orderType = orderTypes[0]'
						ng-options='option.name for option in orderTypes'>
					</select>
				</div>
				<div class='form-group'>
					<input 
						type='text' 
						class='form-control input-sm'
						placeholder='起始时间'
						ng-model='order.beginTime'
						uib-datepicker-popup='yyyy-MM-dd'
						is-open='status.beginTimeOpend'
						show-weeks='false'
						max-date='maxBeginTime'
						ng-click='openBeginTime()'
						/>
				</div>
				<div class='form-group'>
					<input 
						type='text' 
						class='form-control input-sm'
						placeholder='结束时间'
						ng-model='order.endTime'
						uib-datepicker-popup='yyyy-MM-dd'
						is-open='status.endTimeOpend'
						show-weeks='false'
						min-date='minEndTime'
						max-date='maxEndTime'
						ng-click='openEndTime()'
						/>
				</div>
				<button type='submit' class='btn btn-sm btn-primary'>查找</button>
			</div>
		</form>

	</div>

	<div class='orders-wrapper'>
		<div class='orders-table'>
			<div class='table-wrapper'>
				<table class='table table-condensed table-hover'>
					<thead>
						<tr>
							<th>订单编号</th>
							<th>用车时间</th>
							<th>乘客</th>
							<th>乘客号码</th>
							<th>车牌号</th>
							<th>乘客地址</th>
							<th>目的地</th>
							<th>类型</th>
							<th>订单状态</th>
							<th>接线员</th>
							<th>作业员</th>
							<th>订单形式</th>
							<th>订单详情</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat='item in orders'>
							<td>{{item.sn}}</td>
							<td>{{item.timeCreated | cmdate: 'MM/dd HH:mm'}}</td>
							<td>{{item.user}}</td>
							<td>{{item.contactPhone}}</td>
							<td>{{item.vehicleNumber}}</td>
							<td class='ellipsis' title='{{item.poi}}'>{{item.poi}}</td>
							<td class='ellipsis' title='{{item.destination_poi}}'>{{item.destination_poi}}</td>
							<td>{{item.uType}}</td>
							<td class='ellipsis' title='{{item.statusName}}'>{{item.statusName}}</td>
							<td>2562</td>
							<td>{{item.opName}}</td>
							<td ng-switch='item.isReserved'>
								<span ng-switch-when='0'>即时</span>
								<span ng-switch-when='1'>预约</span>
							</td>
							<td>
								<button
									class='btn btn-primary btn-xs'
									view-order='item'
									>查看</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<uib-pagination 
			class='pagination'
			total-items='orderItemCount' 
			ng-model='currentOrderPage' 
			ng-change='pageChanged()'
			max-size='10'
			previous-text='&lsaquo;' 
			next-text='&rsaquo;' 
			first-text='&laquo;' 
			last-text='&raquo;'
			></uib-pagination>
	</div>
</section>
