<section class='search-page list-page'>
	<div class='tabs'>
		<ul class='flex'>
			<li>
					<a 
					href='javascript:;' 
					class='normal-tab'
					ng-click='toggleTab("prepared")'>订单记录查询</a>
			</li>
		</ul>
	</div>

	<div class='search'>
		<form ng-submit='searchOrder()'>
			<div class='simple'>
				<input 
					type='text' 
					class='search-input-text'
					ng-model='words'/><button class='search-btn btn'>搜索</button>
				<a href='javascript:;' class='more-link' ng-click='filterMoreOrderSearchBtn()'>更多筛选条件</a>
			</div>
			<div class='more' ng-show='isShowMore'>
				<div>
					<span class='field-wraper'>
						<label>接线员:</label>
						<input type='text' class='text-input'/>
					</span>
					<span class='field-wraper'>
						<lable>状态</label>
						<select class='select'><option>请选择</option></select>
					</span>
					<span  class='field-wraper'>
						<label>订单时间:</label>
						<input 
							type='text' 
							class='text-input'
							ng-model='searchOrderBeginTime'/>
						<b>-</b>
						<input 
							type='text' 
							class='text-input'
							ng-model='searchOrderEndTime'/>
					</span>
				</div>

				<div class='more-btn-wrap'>
					<button class='more-btn'>搜索</button>
				</div>
			</div>
		</form>

		<div class='toggle-btns'>
			<button 
				class='btn' 
				ng-click='cutAllOrderTab()'
				ng-class='{active:isCurrentTab("all")}'>全部({{allOrderCount()}})</button>
			<button 
				class='btn' 
				ng-click='cutImmediateOrderTab()'
				ng-class='{active:isCurrentTab("immediate")}'>即时({{immediateOrderCount()}})</button>
			<button 
				class='btn' 
				ng-click='cutReservationOrderTab()'
				ng-class='{active:isCurrentTab("reservation")}'>预约({{reservationOrderCount()}})</button>
		</div>

	</div>

	<div class='orders'>
		<div class='table-wrapper'>
			<table class='table'>
				<thead>
					<tr>
						<th>NO</th>
						<th>订单编号</th>
						<th>用车时间</th>
						<th>乘客</th>
						<th>乘客号码</th>
						<th>车牌号</th>
						<th>乘客地址</th>
						<th>目的地</th>
						<th>类型</th>
						<th>订单状态</th>
						<th>接线员</th>
						<th>作业员</th>
						<th>订单形式</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat='item in orders'>
						<td>{{$index + 1}}</td>
						<td>{{item.sn}}</td>
						<td>{{item.timeCreated | cmdate: 'MM/dd HH:mm'}}</td>
						<td>{{item.user}}</td>
						<td>{{item.contactPhone}}</td>
						<td>{{item.vehicleNumber}}</td>
						<td class='ellipsis' title='{{item.poi}}'>{{item.poi}}</td>
						<td class='ellipsis' title='{{item.destination_poi}}'>{{item.destination_poi}}</td>
						<td>{{item.uType}}</td>
						<td class='ellipsis' title='{{item.statusName}}'>{{item.statusName}}</td>
						<td>2562</td>
						<td>{{item.opName}}</td>
						<td ng-switch='item.isReserved'>
							<span ng-switch-when='0'>即时</span>
							<span ng-switch-when='1'>预约</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class='paging' ng-show='orderItemCount > 10'>
			<pagination 
				num-items='orderItemCount' 
				current-page='currentOrderPage'
				on-select-page='onSelectPage(page)'></pagination>
		</div>
	</div>
</section>
