<section class='seat-above flex'>

	<div class='seat-top-left' listen-call>
		<div class='chart'>
			<div class='user-info'>
				<div class='justify'>
					<span  class='info-item'><i class='icon-img custom-type'></i>{{userData.rank}}</span>
					<span class='info-item'><i class='icon-img timer'></i>{{userData.timeCreated}}</span>
				</div>
				<div class='justify'>
					<span class='info-item' ng-click='queryOrderBySn()'><i class='icon-img serial-number'></i>{{userData.sn}}</span>
					<span class='info-item'>
						<span><b class='legend-dot dot-order-count'></b>订单次数</span>
						<span><b class='legend-dot dot-fuck-count'></b>放空次数</span>
					</span>
				</div>
			</div>
			<div class='graph' chart-user order-fuck='userData.fkTotal' order-total='userData.total'>
			</div>
		</div>
		<form class='seat-top-form' name='newOrder' ng-submit='addOrderFromForm()'>
			<ul class='seat-field1'>
				<li class='field-li'>
					<label class='icon-img-bg calling-label'></label>
					<input 
						type='text' 
						class='text-input' 
						disabled='disabled'
						ng-model='orderData.callingTel'/>
				</li>
				<li class='field-li'>
					<label class='icon-img-bg actual-label'></label>
					<input 
						type='text' 
						class='text-input' 
						maxlength='11'
						ng-required='true'
						ng-model='orderData.actualTel'
						ng-pattern='/1\d{10}/'/>
					<span class='mobile-position'>{{mobilePosition}}</span>
				</li>
				<li class='field-li'>
					<label class='icon-img-bg username-label'></label>
					<input 
						type='text' 
						class='text-input'
						maxlength='30'
						ng-required='true'
						ng-model='orderData.fullName'
						placeholder='用户姓名'/>
					<input 
						type='radio' 
						name='gender' 
						class='gender-radio' 
						id='femaleRadio'
						ng-model='orderData.gender'
						value='1'/>
					<label class='female' for='femaleRadio'></label>
					<input 
						type='radio' 
						name='gender' 
						class='gender-radio' 
						id='maleRadio'
						ng-model='orderData.gender'
						value='2'/>
					<label class='male' for='maleRadio'></label>
				</li>
				<li class='field-li'>
					<label class='icon-img-bg start-label'></label>
					<input 
						type='text' 
						class='text-input long-width'
						id='startInput'
						maxlength='50'
						ng-required='true'
						ng-model='orderData.start'
						placeholder='出发位置'
						words-place='orderData.start'
						start-list='orderData.poiList'/>
				</li>
				<li class='field-li'>
					<label class='icon-img-bg around-label'></label>
					<input 
						type='text' 
						class='text-input long-width'
						maxlength='50'
						ng-model='orderData.aroundRoadName'
						placeholder='周围道路名称'/>
				</li>
			</ul>
			<ul>
				<li class='field-li'>
					<input
						type='checkbox'
						id='carTypeSelect'
						class='checkbox-in-label'
						ng-model='orderData.isCarType' />
					<label class='icon-img-bg cartype-label' for='carTypeSelect'></label>
					<span class='cartype-selects'>
						<select class='select car-select' ng-disabled='!orderData.isCarType'>
							<option>汽车类型</option>
						</select>
						<select class='select price-select' ng-disabled='!orderData.isCarType'>
							<option>价格</option>
						</select>
						<select class='select count-select' ng-disabled='!orderData.isCarType'>
							<option>车数</option>
						</select>
					</span>
					<label class='icon-img-bg destination-label'></label>
					<input 
						list='orderDestination' 
						class='text-input long-width'
						ng-model='orderData.end'
						ng-required='true'
						placeholder='目的地'/>
					<datalist id='orderDestination'>
						<option  ng-repeat='item in orderData.targetpoiList' value='{{item}}'>
					</datalist>
				</li>
				<li class='field-li'>
					<input 
						type='checkbox' 
						id='reservationSelect' 
						class='checkbox-in-label'
						ng-model='orderData.isReservation'/>
					<label class='icon-img-bg reservation-label' for='reservationSelect'></label>

					<span class='date-pickup-wrap'>
						<input 
							type='text' 
							class='text-input input-calendar'  
							ng-disabled='!orderData.isReservation'
							ng-model='orderData.reservationCalendar'/>
							<div calendar selected='orderData.reservationCalendar' class='calendar'></div>

							<span 
								class='time-select' 
								ng-class='{disabled: !orderData.isReservation}'>
							<em 
								class='hour' 
								time-select='24'
								selected='orderData.hour'
								reservation='orderData.isReservation'
								>{{orderData.hour}}</em><i class='colon'>:</i><em 
								class='minute' 
								time-select='60'
								number-mod='5'
								reservation='orderData.isReservation'
								selected='orderData.minute'>{{orderData.minute}}</em>
							</span>
						</span>

					<label class='icon-img-bg count-label'></label>
					<input 
						type='text'
						class='text-input long-width'
						ng-model='orderData.count'
						placeholder='叫车数'/>

				</li>
				<li class='field-li'>
					<label class='icon-img-bg remark-label'></label>
					<input 
						type='text' 
						class='text-input large-width'
						ng-model='orderData.remark'
						placeholder='附加信息'/>
				</li>
			</ul>
			<div class='btns text-center'>
				<button class='btn' ng-class='{clickable: newOrder.$valid, sending: sendingOrderData}'>保存</button>
				<a href='javascript:;' class='btn' ng-click='clearOrderForm()'>取消</a>
				<a href='javascript:;' class='btn'>转咨询投诉</a>
			</div>
		</form>
	</div>


	<div class='seat-top-right'>
		<nav class='nav'>
			<ul class='flex'>
				<li class='operate-btn-wrap'>
					<a href='javascript:;' class='icon-btn zoom'></a>
				</li>
				<li class='operate-btn-wrap'>
					<a href='javascript:;' class='icon-btn zoom'></a>
				</li>
				<li class='operate-btn-wrap'>
					<a href='javascript:;' class='icon-btn zoom'></a>
				</li>
			</ul>
		</nav>
		<seat-map />
		</div>
	</div>

</section>


<section class='seat-blow flex'>
	<div class='seat-bottom-left'>
		<section class='car-status'>
			<ul class='flex'>
				<li class='car-icon icon-car-stop'>
					<div><span>0152</span></div>
					<div><span>15%</span></div>
				</li>
				<li class='car-icon icon-car-empty'>
					<div><span>0152</span></div>
					<div><span>15%</span></div>
				</li>
				<li class='car-icon icon-car-heavy'>
					<div><span>0152</span></div>
					<div><span>15%</span></div>
				</li>
				<li class='car-icon icon-car-task'>
					<div><span>0152</span></div>
					<div><span>15%</span></div>
				</li>
			</ul>
			<ul class='flex legend-wrap'>
				<li><i class='legend-dot stop'></i><span>未登录车/停运</span></li>
				<li><i class='legend-dot empty'></i><span>空车</span></li>
				<li><i class='legend-dot heavy'></i><span>重车</span></li>
				<li><i class='legend-dot task'></i><span>任务车</span></li>
			</ul>
		</section>

		<div call-status></div>

	</div>

	<div class='seat-bottom-right'>
		<section class='search-bar'>
			<div class='fl'>
				<button class='btn toggle-btn' ng-click='toggleImmediateOrReservation()'>{{immediateOrReservation}}</button>
			</div>
			<ul class='flex fl tabs'>
				<li>
					<a 
						href='javascript:;' 
						class='tab'
						ng-class='{active: !isCurrentTab("exception")}'
						ng-click='cutOrderTabPrepared()'>
							<i class='icon-img-bg normal'></i>
							<em>({{normalOrderCount()}})</em>
						</a>
				</li>
				<li>
					<a 
						href='javascript:;' 
						class='tab'
						ng-class='{active: isCurrentTab("exception")}'
						ng-click='cutOrderTabException()'>
						<i class='icon-img-bg error'></i>
						<em>({{exceptionOrderCount()}})</em>
					</a>
				</li>
			</ul>
			<div class='fr'>
				<form ng-submit='searchCurrentOrderByKeywords()'>
					<input 
						type='text' 
						class='search-input'
						ng-required='true'
						ng-model='inputOrderWords'
						pause-emit='pause'/><button class='btn search-btn'><i class='icon-img'></i></button>
					<select class='search-select'>
						<option>个人</option>
					</select>
				</form>
			</div>
			<div class='fr'>
				<span class='tick-timer'>{{averageTimer()}}秒</span>
			</div>
		</section>
		<section class='order-content flex'>
			<div class='order-nav-var' ng-show='!isCurrentTab("exception")'>
				<h1 class='title'>状态</h1>
				<nav class='order-nav'>
					<ul>
						<li class='order-nav-li'>
							<a 
								href='javascript:;' 
								class='nav-btn'
								ng-class='{active: isCurrentTab("prepared")}'
								ng-click='cutOrderTabPrepared()'>调派中</a>
						</li>
						<li class='order-nav-li'>
							<a 
								href='javascript:;' 
								class='nav-btn'
								ng-class='{active: isCurrentTab("received")}'
								ng-click='cutOrderTabReceived()'>已接单</a>
						</li>
						<li class='order-nav-li'>
							<a 
								href='javascript:;' 
								class='nav-btn'
								ng-class='{active: isCurrentTab("started")}'
								ng-click='cutOrderTabStarted()'>已出发</a>
						</li>
						<li class='order-nav-li'>
							<a 
								href='javascript:;' 
								class='nav-btn'
								ng-class='{active: isCurrentTab("done")}'
								ng-click='cutOrderTabDone()'>已完成</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class='order-table'>
				<table class='table'>
					<thead>
						<tr>
							<th>订单编号</th>
							<th>用车时间</th>
							<th>乘客</th>
							<th>乘客号码</th>
							<th>车牌号</th>
							<th>乘客地址</th>
							<th>目的地</th>
							<th ng-if='isCurrentTab("exception")'>状态</th>
							<th ng-if='!isDoneCurrentTab()'>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr 
							ng-repeat='item in orders' 
							ng-if='$index < 6' 
							ng-class='{"add-new": item.isNewAdd, active: item.isBtnShow}'>
							<td class='ellipsis'>{{item.sn}}</td>
							<td class='ellipsis'>{{item.timeCreated}}</td>
							<td class='ellipsis'>{{item.user}}</td>
							<td class='ellipsis'>{{item.contactPhone}}</td>
							<td class='ellipsis'>{{item.vehicleNumber}}</td>
							<td class='ellipsis' title='{{item.poi}}'>{{item.poi}}</td>
							<td class='ellipsis' title='{{item.destination_poi}}'>{{item.destination_poi}}</td>
							<td ng-if='isCurrentTab("exception")'>{{item.statusName}}</td>
							<td class='seat-operate-td' ng-if='!isDoneCurrentTab()'>
								<div class='seat-order-operate'>
									<a 
										href='javascript:;' 
										class='show-more'
										ng-click='showBtns(item)'>&gt;&gt;</a>
									<ul class='operate-list' ng-show='item.isBtnShow'>
										<li	
											class='operate-list-li'
											ng-show='isCancelBtnShow()'>
											<a 
												href='javascript:;' 
												confirm-dialog
												box-ctrl='seatCtrl'
												message-box='确认处理?'
												ensure-fn='handleCancelOrder(item)'
												class='operate-btn'>取消</a>
										</li>
										<li	
											class='operate-list-li'
											ng-show='isAssignBtnShow()'>
											<a 
												confirm-dialog
												box-ctrl='seatCtrl'
												message-box='指派'
												input-show='true'
												label-name='指派车辆'
												ensure-fn='assignCar(item, input)'
												href='javascript:;' 
												class='operate-btn'>指派</a>
										</li>
										<li	
											class='operate-list-li'
											ng-show='isPassengerFuckBtnShow()'>
											<a 
												confirm-dialog
												box-ctrl='seatCtrl'
												message-box='确认处理?'
												ensure-fn='handlePassengerFuckOrder(item)'
												href='javascript:;' 
												class='operate-btn'>乘客放空</a>
										</li>
										<li	
											class='operate-list-li'
											ng-show='isDriverFuckBtnShow()'>
											<a 
												confirm-dialog
												box-ctrl='seatCtrl'
												message-box='确认处理?'
												ensure-fn='handleDriverFuckOrder(item)'
												href='javascript:;' 
												class='operate-btn'>司机爽约</a>
										</li>
									</ul>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
	</div>

</section>
