<section class='seat-above flex'>

	<div class='seat-top-left' listen-call>
		<div class='chart'>
			<div class='user-info'>
				<div class='justify'>
					<span  class='info-item'><i class='icon-img custom-type'></i>{{userData.rank}}</span>
					<span class='info-item'><i class='icon-img timer'></i>{{userData.timeCreated}}</span>
				</div>
				<div class='justify'>
					<span class='info-item' ng-click='queryOrderBySn()'><i class='icon-img serial-number'></i>{{userData.sn}}</span>
					<span class='info-item'>
						<span><b class='legend-dot dot-order-count'></b>订单次数</span>
						<span><b class='legend-dot dot-fuck-count'></b>放空次数</span>
					</span>
				</div>
			</div>
			<div class='graph' chart-user order-fuck='userData.fkTotal' order-total='userData.total'>
			</div>
		</div>
		<form class='seat-top-form neworder-form' name='newOrder' ng-submit='addOrderFromForm()'>
			<ul class='seat-field1'>
				<li class='form-inline'>
					<label class='label-sm-icon'><i class='icon-phone-label'></i></label>
					<input 
						type='text' 
						class='form-control input-sm input-residue-width' 
						disabled='disabled'
						ng-model='orderData.callingTel'/>
				</li>
				<li class='form-inline'>
					<label class='label-sm-icon'><i class='icon-callback-label'></i></label>
					<input 
						type='text' 
						class='form-control input-sm' 
						maxlength='11'
						ng-required='true'
						ng-model='orderData.actualTel'
						ng-pattern='/1\d{10}/'/>
					<span class='mobile-position'>{{mobilePosition}}</span>
				</li>
				<li class='form-inline'>
					<div class='form-group'>
						<label class='label-sm-icon'><i class='icon-user-label'></i></label>
						<input 
							type='text' 
							class='form-control input-sm'
							maxlength='30'
							ng-required='true'
							ng-model='orderData.fullName'
							placeholder='用户姓名'/>
					</div>
					<div class='form-group'>
						<input 
							type='radio' 
							name='gender' 
							class='gender-radio' 
							id='femaleRadio'
							ng-model='orderData.gender'
							value='1'/>
						<label class='female' for='femaleRadio'></label>
						<input 
							type='radio' 
							name='gender' 
							class='gender-radio' 
							id='maleRadio'
							ng-model='orderData.gender'
							value='2'/>
						<label class='male' for='maleRadio'></label>
					</div>
				</li>
				<li class='form-inline'>
					<label class='label-sm-icon'><i class='icon-start-label'></i></label>
					<input 
						type='text' 
						class='form-control input-sm input-residue-width'
						id='startInput'
						maxlength='50'
						ng-required='true'
						ng-model='orderData.start'
						placeholder='出发位置'
						words-place='orderData.start'
						start-list='orderData.poiList'/>
				</li>
				<li class='form-inline'>
					<label class='label-sm-icon'><i class='icon-around-label'></i></label>
					<input 
						type='text' 
						class='form-control input-sm input-residue-width'
						maxlength='50'
						ng-model='orderData.aroundRoadName'
						placeholder='周围道路名称'/>
				</li>
			</ul>
			<ul>
				<li class='form-inline'>
					<div class='form-group'>
						<input
							type='checkbox'
							id='carTypeSelect'
							class='checkbox-in-label'
							ng-model='orderData.isCarType' />
						<label class='label-sm-icon' for='carTypeSelect'><i class='icon-car-label'></i></label>
					</div>
					<div class='form-group selects-group'>
						<select class='form-control input-sm' ng-disabled='!orderData.isCarType'>
							<option>汽车类型</option>
						</select>
						<select class='form-control input-sm' ng-disabled='!orderData.isCarType'>
							<option>价格</option>
						</select>
						<select class='form-control input-sm' ng-disabled='!orderData.isCarType'>
							<option>车数</option>
						</select>
					</div>
					<div class='form-group'>
						<label class='label-sm-icon'><i class='icon-around-label'></i></label>
						<input 
							list='orderDestination' 
							class='form-control input-sm destination-input'
							ng-model='orderData.end'
							ng-required='true'
							placeholder='目的地'/>
						<datalist id='orderDestination'>
							<option  ng-repeat='item in orderData.targetpoiList' value='{{item}}'>
						</datalist>
					</div>
				</li>
				<li class='form-inline'>
					<div class='form-group'>
						<input 
							type='checkbox' 
							id='reservationSelect' 
							class='checkbox-in-label'
							ng-model='orderData.isReservation'
							/>
						<label class='label-sm-icon' for='reservationSelect'><i class='icon-reservation-label'></i></label>
					</div>
					<div class='form-group'>
						<input 
							type='text' 
							class='form-control input-sm calendar-input'  
							ng-disabled='!orderData.isReservation'
							ng-model='orderData.reservationCalendar'
							uib-datepicker-popup='yyyy-MM-dd'
							is-open='status.calendarOpened'
							min-date='minDate'
							show-weeks='false'
							ng-click='openCalendar()'
							/>
					</div>
					<div class='form-group time-select-wrapper'>
							<span 
								class='time-select' 
								ng-class='{disabled: !orderData.isReservation}'>
							<em 
								class='hour' 
								time-select='24'
								selected='orderData.hour'
								reservation='orderData.isReservation'
								>{{orderData.hour}}</em><i class='colon'>:</i><em 
								class='minute' 
								time-select='60'
								number-mod='5'
								reservation='orderData.isReservation'
								selected='orderData.minute'>{{orderData.minute}}</em>
							</span>
					</div>

					<div class='form-group'>
						<label class='label-sm-icon'><i class='icon-matrix-label'></i></label>
						<input 
							type='text'
							class='form-control input-sm car-count-input'
							ng-model='orderData.count'
							placeholder='叫车数'/>
					</div>

				</li>
				<li class='form-inline'>
					<label class='label-sm-icon'><i class='icon-remark-label'></i></label>
					<input 
						type='text' 
						class='form-control input-sm input-residue-width'
						ng-model='orderData.remark'
						placeholder='附加信息'/>
				</li>
			</ul>
			<div class='text-center'>
				<button class='btn btn-primary' type='submit' ng-class='{clickable: newOrder.$valid, sending: sendingOrderData}'>保存</button>
				<button type='button' class='btn btn-warning' ng-click='clearOrderForm()'>取消</button>
				<button type='button' class='btn btn-danger'>转咨询投诉</button>
			</div>
		</form>
	</div>


	<div class='seat-top-right'>
		<nav class='nav'>
			<ul class='flex'>
				<li class='operate-btn-wrap'>
					<a href='javascript:;' class='icon-btn zoom'></a>
				</li>
				<li class='operate-btn-wrap'>
					<a href='javascript:;' class='icon-btn zoom'></a>
				</li>
				<li class='operate-btn-wrap'>
					<a href='javascript:;' class='icon-btn zoom'></a>
				</li>
			</ul>
		</nav>
		<seat-map />
		</div>
	</div>

</section>


<section class='seat-blow flex'>
	<div class='seat-bottom-left'>
		<section class='car-status'>
			<ul class='flex'>
				<li class='car-icon icon-car-stop'>
					<div><span>0152</span></div>
					<div><span>15%</span></div>
				</li>
				<li class='car-icon icon-car-empty'>
					<div><span>0152</span></div>
					<div><span>15%</span></div>
				</li>
				<li class='car-icon icon-car-heavy'>
					<div><span>0152</span></div>
					<div><span>15%</span></div>
				</li>
				<li class='car-icon icon-car-task'>
					<div><span>0152</span></div>
					<div><span>15%</span></div>
				</li>
			</ul>
			<ul class='flex legend-wrap'>
				<li><i class='legend-dot stop'></i><span>未登录车/停运</span></li>
				<li><i class='legend-dot empty'></i><span>空车</span></li>
				<li><i class='legend-dot heavy'></i><span>重车</span></li>
				<li><i class='legend-dot task'></i><span>任务车</span></li>
			</ul>
		</section>

		<div call-status></div>

	</div>

	<div class='seat-bottom-right'>
		<section class='search-bar'>
			<div class='fl'>
				<button 
					class='btn btn-default toggle-btn' 
					type='button'
					ng-click='toggleImmediateOrReservation()'>{{immediateOrReservation}}</button>
			</div>
			<ul class='nav nav-pills fl'>
				<li 
					role='presentation' 
					ng-class='{active: !isExceptionCurrentTab()}'>
					<a 
						href='javascript:;' 
						class='tab-btn'
						ng-click='cutOrderTabPrepared()'>
							Normal
							<span class='badge'>{{normalOrderCount}}</span>
						</a>
				</li>
				<li 
					role='presentation'
					ng-class='{active:isExceptionCurrentTab()}'>
					<a 
						href='javascript:;' 
						class='tab-btn'
						ng-click='cutOrderTabException()'>
						Error
						<span class='badge'>{{exceptionOrderCount}}</span>
					</a>
				</li>
			</ul>
			<div class='fr'>
				<form ng-submit='searchCurrentOrderByKeywords()' class='form-inline'>
					<div class='form-group'>
						<input 
							type='text' 
							class='form-control keywords-input'
							ng-required='true'
							ng-model='inputOrderWords'
							pause-emit='pause'/>
					</div><button class='btn btn-primary' type='submit'><i class='icon-search'></i></button>
					<div class='form-group'>
						<select 
							class='form-control' 
							ng-model='orderType' 
							ng-change='handleOrderTypeChange()'
							ng-init='orderType = orderTypes[0]'
							ng-options='option.name for option in orderTypes'>
						</select>
					</div>
				</form>
			</div>
			<div class='fr'>
				<span class='label label-warning average-label'>{{averageTimer}}秒</span>
			</div>
		</section>
		<section class='order-content flex'>
			<div class='order-nav-var' ng-show='!isExceptionCurrentTab()'>
				<ul class='nav nav-pills nav-stacked'>
					<li class='presentation' ng-class='{active: isPreparedCurrentTab()}'>
						<a 
							href='javascript:;' 
							ng-click='cutOrderTabPrepared()'>调派中</a>
					</li>
					<li class='presentation' ng-class='{active: isReceivedCurrentTab()}'>
						<a 
							href='javascript:;' 
							ng-click='cutOrderTabReceived()'>已接单</a>
					</li>
					<li class='presentation' ng-class='{active: isStartedCurrentTab()}'>
						<a 
							href='javascript:;' 
							ng-click='cutOrderTabStarted()'>已出发</a>
					</li>
					<li class='presentation' ng-class='{active: isDoneCurrentTab()}'>
						<a 
							href='javascript:;' 
							ng-click='cutOrderTabDone()'>已完成</a>
					</li>
				</ul>
			</div>
			<div class='order-table'>
				<table class='table table-condensed table-hover'>
					<thead>
						<tr>
							<th>订单编号</th>
							<th>用车时间</th>
							<th>乘客</th>
							<th>乘客号码</th>
							<th>车牌号</th>
							<th>乘客地址</th>
							<th>目的地</th>
							<th ng-if='isExceptionCurrentTab()'>状态</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr 
							ng-repeat='item in orders' 
							ng-if='$index < 6' 
							ng-class='{"add-new": item.isNewAdd, active: item.isBtnShow}'>
							<td class='ellipsis' title='{{item.sn}}'>{{item.sn}}</td>
							<td class='ellipsis' title='{{item.timeCreated}}'>{{item.timeCreated}}</td>
							<td class='ellipsis' title='{{item.user}}'>{{item.user}}</td>
							<td class='ellipsis' title='{{item.contactPhone}}'>{{item.contactPhone}}</td>
							<td class='ellipsis' title='{{item.vehicleNumber}}'>{{item.vehicleNumber}}</td>
							<td class='ellipsis' title='{{item.poi}}'>{{item.poi}}</td>
							<td class='ellipsis' title='{{item.destination_poi}}'>{{item.destination_poi}}</td>
							<td class='ellipsis' title='{{item.statusName}}' ng-if='isExceptionCurrentTab()'>{{item.statusName}}</td>
							<td class='seat-operate-td'>
								<div class="btn-group" uib-dropdown>
									<button id="single-button{{$index}}" type="button" class="btn btn-primary btn-xs" uib-dropdown-toggle ng-disabled="disabled">
										operate<span class="caret"></span>
									</button>
									<ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button{{$index}}">
										<li role='menuitem'>
											<a 
												href='javascript:;'
												view-order
												>查看订单</a>
										</li>
										<li role='menuitem' ng-show='isCancelBtnShow()'>
											<a 
												href='javascript:;'
												ensure-btn
												message-title='取消订单'
												message-content='确认取消?'
												ensure-fn='handleCancelOrder(item)'>取消订单</a>
										</li>
										<li role='menuitem' ng-show='isAssignBtnShow()'>
											<a 
												href='javascript:;'
												ensure-btn
												message-title='指派车辆'
												has-input='true'	
												message-content='车牌号码:'
												ensure-fn='assignOrderByCarPlate(item, input)'>指派车辆</a>
										</li>
										<li role='menuitem' ng-show='isPassengerFuckBtnShow()'>
											<a 
												href='javascript:;'
												ensure-btn
												message-title='乘客放空'
												message-content='确认操作?'
												ensure-fn='handlePassengerFuckOrder(item)'
												>乘客放空</a>
										</li>
										<li role='menuitem' ng-show='isDriverFuckBtnShow()'>
											<a 
												href='javascript:;'
												ensure-btn
												message-title='司机放空'
												message-content='确认操作?'
												ensure-fn='handleDriverFuckOrder(item)'>司机放空</a>
										</li>
									</ul>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
	</div>

</section>
